.hide {
  display: none;
}

.underline {
  height: 1px;
  background-color: #535353;
  opacity: 0.3;
  width: 80%;
  margin: 2rem auto;
}

.main {
  padding: 0 10%;
  margin: 3rem 0;
}

.main > h1 {
  font-size: 2rem;
}

.main > h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.main > p {
  margin: 1rem 0 1rem 0;
  line-height: 24px;
  font-size: 16px;
}

.main > p > a {
  text-decoration: none;
  color: #0096F4;
}

@media only screen and (max-width: 750px) {
  .page-section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}