/* Landing Section Styling*/
.landing-section {
    height: calc(100vh - 75px);
}

.cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-content {
    width: 100%;
    text-align: center;
    font-size: 52.5px;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Welcome Section Styling */
.welcome-section {
    height: calc(100vh);
    display: grid;
}

.welcome-content {
    width: 60%;
    margin-left: 50px;
    margin-top: 3rem;
    grid-column: 1/7;
    grid-row: 1/2;
    margin-bottom: 4rem;
}

.welcome-content > h2 {
    font-size: 37.5px;
    margin-bottom: 1.5rem;
}

.welcome-content > div > p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 1rem;
}

/* Marketing/Why Kitura section */
.marketing-section {
    margin-left: 50px;
    grid-column: 1/8;
    grid-row: 2/4;
}

.marketing-title {
    font-size: 30px;
    margin-bottom: 1rem;
}

.marketing-subtitle {
    font-size: 20px;
    margin-bottom: 1rem;
}

.marketing-card-section {
    display: flex;
}

.marketing-card {
    width: 225px;
    height: 225px;
    border-radius: 10px;
    margin-right: 50px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.marketing-card > h5 {
    font-size: 18px;
    margin-bottom: 2rem;
}

.marketing-card:nth-child(1) {
    box-shadow: -5px 10px 10px rgba(242,19,70, 0.1);
}

.marketing-card:nth-child(1) > h5 {
    color: rgba(242,19,70);
}

.marketing-card:nth-child(2) {
    box-shadow: -5px 10px 10px rgba(0,150,244, 0.1);
}

.marketing-card:nth-child(2) > h5 {
    color: rgba(0,150,244);
}

.marketing-card:nth-child(3) {
    box-shadow: -5px 10px 10px rgba(0,198,137, 0.1);
}

.marketing-card:nth-child(3) > h5 {
    color: rgba(0,198,137);
}

.marketing-text {
    font-size: 14px;
    line-height: 20px;
}

/* Sidebar Section */
.sidebar-section {
    grid-column: 9/13;
    grid-row: 1/4;
    background-color: #FAFAFA;
    padding: 0 20px;
    width: 412.5px;
    height: 800px;
    margin-top: 3rem;
    margin-right: 50px;
}

.latest-news-title, .sidebar-link {
    font-size: 15px;
    color: #0096F4;
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

.latest-news-text, .social-text {
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 20px;
}

.useful-links > p {
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: 1.1rem;
    margin-left: 1rem;
}

.useful-links > p > a {
    text-decoration: none;
    margin: 1rem 0 0.6rem -0.5rem;
    color: #0096F4;
}

.sidebar-title {
    margin: 2rem 0 1rem 0;
}

.social-button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-button-section > p {
    margin-top: 0.4rem;
    font-size: 10px;
}

/* Code Example Styling

.code-example-section {
    height: calc(100vh - 100px);
    margin-top: 3rem;
}

.code-example-title {
    font-size: 37.5px;
    margin-bottom: 1.5rem;
    margin-left: 50px;
}

.code-example-helper-text {
    float: right;
    font-size: 0.8rem;
    margin-right: 50px;
    margin-top: -50px;
    line-height: 20px;
} */

/* Mobile Styling */
@media only screen and (max-width: 600px) {
    .landing-section {
        padding-top: 75px;
    }
    .landing-content {
        font-size: 2rem;
        margin: 3rem 0;
    }

    .welcome-section {
        display: block;
        height: auto;
    }

    .welcome-content {
        text-align: center;
        width: 80vw;
        margin-bottom: 3rem;
    }

    .welcome-content > h2 {
        font-size: 1.6rem;
    }

    .welcome-content > p {
        font-size: 0.8rem;
    }

    .marketing-title {
        font-size: 1.4rem;
    }

    .marketing-section {
        margin-bottom: 75px;
    }

    .marketing-subtitle {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .marketing-card-section {
        flex-direction: column;
        align-items: center;
    } 

    .sidebar-section {
        display: none;
    }

    /* .code-example-section {
        display: none;
    } */
}