body {
  font-family: IBM Plex Sans, sans-serif;
  color: #676767; }

.blue-text {
  color: #0780B5; }

body {
  font-family: IBM Plex Sans, sans-serif;
  color: #676767; }

.blue-text {
  color: #0780B5; }

/* sidebar-styling */
.docs-sidebar {
  background-color: #FAF8F8;
  box-shadow: 1px 0 1px #DEDEDE;
  position: fixed;
  width: 25%; }
  @media (max-width: 940px) {
    .docs-sidebar {
      z-index: 1000;
      width: 100%;
      display: none; } }

.docs-window {
  max-width: 100%; }

.docs-title {
  /* Main font-size, margin top and bottom, font weight, large font-size, medium font-size and small font-size */
  font-size: 2.8vw;
  margin-top: 2.7rem;
  margin-bottom: 2.7rem;
  font-weight: bold;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 0; }
  @media (max-width: 1150px) {
    .docs-title {
      font-size: 3vw; } }
  @media (max-width: 940px) {
    .docs-title {
      text-align: center;
      font-size: 8vw; } }
  @media (max-width: 600px) {
    .docs-title {
      font-size: 10vw; } }
  .docs-title:hover {
    cursor: pointer; }

.sidebar-list {
  margin-left: 6rem;
  min-height: 100vh; }
  @media (max-width: 1150px) {
    .sidebar-list {
      margin-left: 4rem; } }
  @media (max-width: 940px) {
    .sidebar-list {
      text-align: center;
      margin-left: 0; } }

.sidebar-item {
  /* Main font-size, margin top and bottom, font weight, large font-size, medium font-size and small font-size */
  font-size: 1.2vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  display: inline-block; }
  @media (max-width: 1150px) {
    .sidebar-item {
      font-size: 1.7vw; } }
  @media (max-width: 940px) {
    .sidebar-item {
      text-align: center;
      font-size: 3vw; } }
  @media (max-width: 600px) {
    .sidebar-item {
      font-size: 5vw; } }
  .sidebar-item:hover {
    cursor: pointer; }
  .sidebar-item:first-of-type {
    margin-top: 3rem; }
  .sidebar-item:hover {
    color: #0780B5;
    font-weight: 800; }

.nested-sidebar-item {
  /* Main font-size, margin top and bottom, font weight, large font-size, medium font-size and small font-size */
  font-size: 0.9vw;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  display: table;
  padding: 1rem 0;
  margin-left: 1rem; }
  @media (max-width: 1150px) {
    .nested-sidebar-item {
      font-size: 1.4vw; } }
  @media (max-width: 940px) {
    .nested-sidebar-item {
      text-align: center;
      font-size: 2vw; } }
  @media (max-width: 600px) {
    .nested-sidebar-item {
      font-size: 4vw; } }
  .nested-sidebar-item:hover {
    cursor: pointer; }
  @media (max-width: 940px) {
    .nested-sidebar-item {
      margin: 0 auto; } }
  .nested-sidebar-item a {
    color: #676767; }
  .nested-sidebar-item a:hover {
    color: #0780B5;
    font-weight: 800; }

.active a {
  color: #0780B5;
  font-weight: 800; }

/* Search bar styling */
.search-container {
  height: 5.1rem;
  border-right: 1px solid rgba(234, 232, 232, 0.42);
  border-bottom: 1px solid rgba(234, 232, 232, 0.42); }

.docs-nav {
  height: 5.1rem;
  border-bottom: 1px solid rgba(234, 232, 232, 0.42);
  display: flex;
  justify-content: center;
  align-items: center; }

/* Docs nav bar styling */
.apiref-button {
  height: 3vw;
  width: 10vw;
  background: #0780B5;
  color: white;
  border-radius: 0.55rem;
  border: none;
  box-shadow: 1px 2px 2px #DEDEDE;
  font-size: 1.2vw;
  font-weight: 600;
  margin-right: 1.5rem;
  cursor: pointer; }
  @media (max-width: 1800px) {
    .apiref-button {
      font-size: 1vw;
      width: 8vw;
      height: 2.5vw; } }
  @media (max-width: 600px) {
    .apiref-button {
      font-size: 2vw;
      height: 7vw;
      width: 17vw; } }

.nav-item {
  font-size: 1.1vw;
  margin-right: 1.5rem;
  color: #0780B5;
  cursor: pointer; }
  @media (max-width: 1800px) {
    .nav-item {
      font-size: 1vw; } }
  @media (max-width: 600px) {
    .nav-item {
      font-size: 2.8vw; } }

.temp-beta {
  width: 100%;
  height: 100%;
  color: #676767;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center; }

/* Generic styling */
/* Styling for the underlines for docs title and seperating sections in the docs. */
body {
  max-width: 100vw; }

.underline-title {
  height: 1px;
  background: #C7C7C7;
  width: 18vw;
  margin: 0 auto;
  opacity: 0.21; }
  @media (max-width: 940px) {
    .underline-title {
      display: none; } }

.top-page {
  position: fixed;
  bottom: 20px;
  right: 20px; }
  .top-page a {
    color: white;
    font-size: 1.2vw;
    padding: 0.5rem 0; }
    @media (max-width: 600px) {
      .top-page a {
        font-size: 2.2vw;
        vertical-align: middle; } }
  @media (max-width: 600px) {
    .top-page {
      bottom: 5rem;
      right: 0;
      transform: rotate(270deg);
      background: #0780B5;
      border-radius: 0.55rem;
      padding: 0.2rem 0.3rem 0.3rem 0.3rem; } }

.burger-icon {
  opacity: 0;
  position: absolute;
  top: 0.1rem;
  padding: 1rem;
  z-index: 9999;
  display: block; }
  @media (max-width: 600px) {
    .burger-icon {
      opacity: 1; } }

.burger-line {
  height: 0.2rem;
  width: 2rem;
  background-color: #676767;
  margin: 0.3rem 0; }

/* Class used to animate nested sidebar-items in when side bar item selected */
.content {
  transition: max-height 0.2s ease-out;
  max-height: 0;
  overflow: hidden; }

/* learn.html grid layout */
.docs-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: auto; }

.docs-item-1 {
  grid-column: 1/4;
  grid-row: 1/4; }
  @media (max-width: 940px) {
    .docs-item-1 {
      grid-column: 1/13;
      grid-row: 1/4; } }

.docs-item-2 {
  grid-column: 4/8;
  grid-row: 1/1; }
  @media (max-width: 940px) {
    .docs-item-2 {
      grid-column: 1/13;
      grid-row: 1/1; } }

.docs-item-3 {
  grid-column: 8/13;
  grid-row: 1/1; }
  @media (max-width: 940px) {
    .docs-item-3 {
      grid-column: 1/13;
      grid-row: 2/2; } }

.docs-item-4 {
  grid-column: 4/13;
  grid-row: 2/4; }
  @media (max-width: 940px) {
    .docs-item-4 {
      grid-column: 1/13;
      grid-row: 3/4; } }

/* Code Syntax Highlighting colors */
/* General docs styling */
.heading-1 {
  font-size: 3.3vw;
  font-weight: bold;
  margin-top: 2.5rem;
  margin-bottom: 2rem; }
  @media (max-width: 1800px) {
    .heading-1 {
      font-size: 2.6vw;
      font-weight: bold;
      margin-top: 2.5rem;
      margin-bottom: 2rem; } }
  @media (max-width: 600px) {
    .heading-1 {
      font-size: 6vw;
      font-weight: bold;
      margin-top: 2.5rem;
      margin-bottom: 2rem; } }

.heading-2 {
  font-size: 2.6vw;
  font-weight: bold;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem; }
  @media (max-width: 1800px) {
    .heading-2 {
      font-size: 1.9vw;
      font-weight: bold;
      margin-top: 1.8rem;
      margin-bottom: 1.8rem; } }
  @media (max-width: 600px) {
    .heading-2 {
      font-size: 5.2vw;
      font-weight: bold;
      margin-top: 1.8rem;
      margin-bottom: 1.8rem; } }

.heading-3 {
  font-size: 1.9vw;
  font-weight: bold;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem; }
  @media (max-width: 1800px) {
    .heading-3 {
      font-size: 1.5vw;
      font-weight: bold;
      margin-top: 1.6rem;
      margin-bottom: 1.6rem; } }
  @media (max-width: 1150px) {
    .heading-3 {
      font-size: 1.6vw;
      font-weight: bold;
      margin-top: 1.6rem;
      margin-bottom: 1.6rem; } }
  @media (max-width: 600px) {
    .heading-3 {
      font-size: 4.8vw;
      font-weight: bold;
      margin-top: 1.6rem;
      margin-bottom: 1.6rem; } }

.heading-4 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem; }
  @media (max-width: 600px) {
    .heading-4 {
      font-size: 4.4vw;
      font-weight: bold;
      margin-top: 1.4rem;
      margin-bottom: 1.4rem; } }

.copy-label {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background: #0780B5;
  border-radius: 0.55rem;
  padding: 0.2rem 0.5rem; }

.tab {
  overflow: hidden;
  background-color: white;
  width: 100%;
  margin-top: 2rem; }
  .tab button {
    border: none;
    outline: none;
    cursor: pointer;
    width: 15vw;
    height: 3rem;
    transition: 0.3s;
    font-size: 1.8vw;
    font-weight: bold;
    color: #676767;
    border: 1px solid rgba(103, 103, 103, 0.1);
    border-bottom: none;
    border-top-left-radius: 0.55rem;
    border-top-right-radius: 0.55rem; }
    .tab button:hover {
      background-color: #0780B5;
      color: white; }
  .tab button.active {
    background-color: #0780B5;
    color: white; }

.tab-buttons {
  display: flex;
  justify-content: center; }

.tabcontent {
  margin-top: -0.1rem;
  display: none;
  border: 1px solid rgba(103, 103, 103, 0.1);
  padding-left: 0.5rem;
  border-radius: 0.55rem; }

main {
  padding: 0 4rem 3rem 4rem;
  max-width: 80vw; }
  @media (max-width: 600px) {
    main {
      padding: 1rem 1rem;
      min-width: 90vw; } }
  main p {
    margin: 1rem 0;
    line-height: 1.6rem; }
    @media (max-width: 1800px) {
      main p {
        font-size: 1.2vw; } }
    @media (max-width: 1150px) {
      main p {
        font-size: 1.5vw; } }
    @media (max-width: 600px) {
      main p {
        font-size: 4vw;
        margin: 0.4rem 0; } }
  main a {
    color: #0780B5; }

ol li, ul li {
  margin-bottom: 1rem;
  font-size: 1.6vw; }
  @media (max-width: 1800px) {
    ol li, ul li {
      font-size: 1.2vw; } }
  @media (max-width: 600px) {
    ol li, ul li {
      font-size: 4vw; } }

.underline {
  height: 1px;
  background: #C7C7C7;
  width: 90%;
  margin: 2rem auto;
  opacity: 0.21; }

.info {
  background-color: rgba(7, 128, 181, 0.15);
  padding: 0.8rem 2rem 0.1rem 1rem;
  border-left: solid 3px #0780B5;
  font-size: 0.8rem;
  width: 70%;
  line-height: 1.2rem;
  margin-bottom: 2rem; }
  .info p {
    margin-bottom: 1.8rem; }
  @media (max-width: 600px) {
    .info {
      width: 85%; } }

pre {
  position: relative;
  height: auto;
  background: #F4F2F2;
  margin-bottom: 1.5rem;
  border-radius: 0.55rem;
  box-shadow: 1px 2px 2px #DEDEDE;
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 2rem;
  font-family: courier;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: pointer; }
  pre code {
    font-size: 1.3vw; }
    @media (max-width: 1800px) {
      pre code {
        font-size: 1vw; } }
    @media (max-width: 600px) {
      pre code {
        font-size: 3.6vw; } }
  pre:hover:before {
    content: 'Double click to copy.';
    position: absolute;
    opacity: 0;
    transition: all 0.15s ease;
    border-radius: 10px; }
  pre:hover:before {
    /* needed - do not touch */
    opacity: 1;
    /* customizable */
    right: 0;
    top: 0; }

table {
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 90%; }

thead {
  background-color: rgba(7, 128, 181, 0.3);
  height: 10rem; }

th {
  padding: 1rem 0;
  font-weight: bold; }

td:first-child {
  color: #0780B5;
  font-weight: 600; }

td {
  padding: 0.6rem 0.2rem; }

td, th {
  border: 1px solid grey; }

.img-container img {
  width: 80%; }

.example-image {
  width: 80%; }

.macos-download-button {
  height: 3vw;
  width: 10vw;
  background: #0780B5;
  color: white;
  border-radius: 0.55rem;
  border: none;
  box-shadow: 1px 2px 2px #DEDEDE;
  font-size: 1.2vw;
  font-weight: 600;
  margin-right: 1.5rem;
  cursor: pointer; }
  @media (max-width: 1800px) {
    .macos-download-button {
      font-size: 1vw;
      width: 8vw;
      height: 2.5vw; } }
  @media (max-width: 600px) {
    .macos-download-button {
      font-size: 2vw;
      height: 7vw;
      width: 17vw; } }

/* Landing page styling */
.landing-heading, .server-heading {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 6rem; }
  .landing-heading h1, .server-heading h1 {
    font-size: 4vw;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2rem; }
  .landing-heading h2, .server-heading h2 {
    font-size: 2.5vw;
    margin-bottom: 0; }
  .landing-heading p, .server-heading p {
    line-height: 1.4rem;
    font-size: 1.5vw;
    padding: 0 1rem; }

.tutorial, .option {
  text-align: center;
  padding: 1rem; }
  .tutorial h3, .option h3 {
    color: #0780B5;
    font-size: 1.6vw;
    font-weight: bold;
    margin-bottom: 1rem; }
    @media (max-width: 1150px) {
      .tutorial h3, .option h3 {
        font-size: 1.7vw; } }
  .tutorial p, .option p {
    color: #676767;
    line-height: 1.4rem;
    font-size: 1.3vw; }

.server-heading h1 {
  margin-bottom: 1rem; }

.landing-img, .option-img {
  display: flex;
  justify-content: center;
  align-items: center; }
  .landing-img img, .option-img img {
    width: 50%; }

/* Landing page grid layout */
.landing-grid-container, .server-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: auto; }

.landing-item-1, .server-item-1 {
  grid-column: 1/13;
  grid-row: 1/2; }

.landing-item-2, .server-item-3 {
  grid-column: 1/5;
  grid-row: 3/4; }

.landing-item-3, .server-item-2 {
  grid-column: 5/9;
  grid-row: 2/3; }

.landing-item-4, .server-item-4 {
  grid-column: 9/13;
  grid-row: 3/4; }

.landing-item-5, .server-item-5 {
  grid-column: 1/5;
  grid-row: 2/3; }

.landing-item-6, .server-item-6 {
  grid-column: 5/9;
  grid-row: 3/4; }

.landing-item-7, .server-item-7 {
  grid-column: 9/13;
  grid-row: 2/3; }

/* Style code blocks - classes assigned by prism.js  */
.string {
  color: #fa454b; }

.function {
  color: #00a78f; }

.instance {
  color: #00a78f; }

.keyword {
  color: #f63bb0; }

.comment {
  color: green; }
