body {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 18px;
  color: #676767;
  padding: 1rem 5rem;
}

h1 {
  font-size: 1.94rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}

h2 {
  font-size: 1.55rem;
  font-weight: bold;
  margin-bottom: 1.8rem;
}

p {
  margin-bottom: 1rem;
}

pre {
  width: 56.5rem;
  height: auto;
  background: #F4F2F2;
  margin-bottom: 1.5rem;
  border-radius: 0.55rem;
  box-shadow: 1px 2px 2px #DEDEDE;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 0.88rem;
  font-family: courier;
  overflow-x: auto;
  overflow-y: hidden;
}

.underline {
  height: 1px;
  background: #C7C7C7;
  width: 51rem;
  opacity: 0.3;
  margin: 2.5rem 0;
  margin-left: 2rem;
}

.blue-text {
  color: #0780B5;
}

.bold {
  font-weight: bold;
}
