html {
background: rgba(243, 243, 245, 1);
    background-size: cover;
}

header {
  max-width: 100%;
  margin-top: 0;
}

pre {
  /* box-shadow: 0px 40px 70px rgba(40, 40, 45, 0.18); */
  border-radius: 14px;
  margin: 5px 0px 5px 75px;
    background: rgba(220, 223, 234, 1);
    color: rgba(40, 40, 50, 1);
  padding: 14px 20px;
  font-family: IBM Plex Mono, monospace;
  line-height: 25px;
  font-size: 13px;
  overflow-x: scroll;
  white-space: pre-wrap;
  word-wrap: break-word;
}


.speech-bubble {
	position: relative;
	background: white;
	border-radius: .4em;
  width: 180px;
  height: 30px;
  border-radius: 20px;
  padding: 20px;
  color: rgb(100, 100, 120);
  margin-left: 40px;
  margin-bottom: 30px;
  margin-top: 50px;
  box-shadow: 0px 40px 70px rgba(40, 40, 45, 0.18);
  text-align: left;
}

.speech-bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 10px solid white;
  border-left: 10px solid transparent;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 35%;
}

@media screen and (max-width: 900px) {
.speech-bubble {
  margin-top: -100px;
  top: 0px;
}
}


.speech-bubble2 {
	position: relative;
	background: white;
	border-radius: .4em;
  width: 240px;
  height: 44px;
  border-radius: 20px;
  padding: 20px;
  color: rgb(100, 100, 120);
  margin-left: 40px;
  margin-bottom: 30px;
  margin-top: 50px;
  box-shadow: 0px 40px 70px rgba(40, 40, 45, 0.18);
  text-align: left;
}

.speech-bubble2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 10px solid white;
  border-left: 10px solid transparent;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 35%;
}


@media screen and (max-width: 900px) {
.speech-bubble2 {
  margin-top: -100px;
  top: 0px;
}
}

.speech-bubble3 {
	position: relative;
	background: white;
	border-radius: .4em;
  width: 190px;
  height: 20px;
  border-radius: 20px;
  padding: 20px;
  color: rgb(100, 100, 120);
  margin-left: 40px;
  margin-bottom: 30px;
  margin-top: 50px;
  box-shadow: 0px 40px 70px rgba(40, 40, 45, 0.18);
  text-align: left;
}

.speech-bubble3:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 10px solid white;
  border-left: 10px solid transparent;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 35%;
}







.speech-bubble4 {
	position: relative;
	background: rgb(56, 140, 215);
	border-radius: .4em;
  width: 180px;
  height: 30px;
  border-radius: 20px;
  padding: 20px;
  color: white;
  margin-top: 50px;
  box-shadow: -10px 40px 80px rgba(40, 40, 45, 0.22);
  cursor: pointer;
  transition-duration: 0.4s;
  margin-right: 0px;
  float: right;
}

.speech-bubble4:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid rgb(56, 140, 215);
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(56, 140, 215);
  border-bottom: 10px solid transparent;
  right: -20px;
  left: 220px;
  top: 34%;
  transition-duration: 0.4s;
}

.speech-bubble4:hover {
  background-color: rgb(78, 162, 240);
  transform: translateY(-2px);
  box-shadow: 0px 40px 80px rgba(40, 40, 45, 0.3);
}
.speech-bubble4:hover:before {
border-left: 10px solid rgb(78, 162, 240);
border-right: 10px solid transparent;
border-top: 10px solid rgb(78, 162, 240);
border-bottom: 10px solid transparent;
}








h1 {
  font-size: 30px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  margin: 80px 0px 0px 50px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 40px 0px 20px 70px;
  color: rgb(90, 90, 100);
}

h4 {
  font-weight: bold;
  font-size: 18px;
  margin: 20px 6%;
}

h5 {
  font-weight: bold;
  margin: 20px 6%;
  font-size: 16px;
}

p {
  margin: 20px 60px;
  line-height: 20px;
  font-size: 16px;
  color: rgb(100, 100, 110);
}

ul {
  margin-left: 10%;
  margin-bottom: 10px;
}

ul li {
  padding-top: 20px;
}

blockquote {
  width: 80%;
  margin: 10px auto;
  margin-left: 10%;
  padding: 3px;
}

a {
  color: rgb(75, 139, 209);
}

table {
  margin: 0 auto;
  width: 50%;
}

thead {
  background-color: rgb(230, 230, 236);
  font-weight: 500;
  color: rgb(100, 100, 110);
  text-align: left;
}

th {
  line-height: 120%;
  padding: 7px;
  border: 1px solid rgb(200, 200, 210);
}

td {
  line-height: 120%;
  padding: 7px;
  border: 1px solid rgb(200, 200, 210);
  color: rgb(80, 80, 90);
}

.italic {
  font-style: italic;
}

.contents {
  margin: 20px 4%;
  font-weight: bold;
  margin-bottom: 60px;
  align-self: center;
  width: 100%;
  font-size: 25px;
}

.contents li {
  margin: 20px 0;
  padding-top: 10px;
  text-decoration: none;
  font-size: 18px
}

.info {
  margin-top: 30px;
  border-left: 5px solid #5392ff;
  background-color: #c8daf4;
}

.tip {
  border-left: 5px solid #fed500;
  background-color: #fbeaae;
}

.warning {
  background-color: #ffaa9d;
  border-left: 5px solid #e62325;
}

.header-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.starsguide {
  align-items: center;
  width: 34%;
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: -20px;
  margin-top: 30px;
}

.createapp {
  width: 100%;
  background: rgb(234, 234, 240);
  height: 560px;
  margin-top: 10px;
  margin-bottom: 60px;
  -webkit-clip-path: polygon(0 2%, 100% 20%, 100% 100%, 0 100%);
  clip-path: polygon(0 2%, 100% 20%, 100% 100%, 0 100%);
  z-index: 0;
  padding-top: 90px;
  padding-left: 100px;
}

.createapp pre {
  width: 640px;
  margin-left: 60px;
}

.rotateim .createappim {
					transform: rotate(-4deg);
}

.createappim {
  position: absolute;
  width: 30%;
  border-radius: 15px;
  margin-top: -360px;
  margin-right: 160px;
  box-shadow: 40px 40px 70px rgba(40, 40, 45, 0.22);

  margin-left: 60%;
  margin-right: 20%;
  border-radius: 10px;
  margin-top: -680px;
}

.createapp .sentence {
  width: 680px;
}

.prepre {
  background: rgba(220, 223, 234, 1);
  border-radius: 14px;
  margin: 5px 0px 5px 75px;
  color: rgba(40, 40, 50, 1);
  padding: 14px 20px;
  font-family: IBM Plex Mono, monospace;
  line-height: 25px;
  font-size: 13px;
  overflow-x: scroll;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* .cliapp .sentence2 {
  color: rgba(250, 250, 250, 0.6);
} */


.xccreate {
  width: 100%;
  background: rgb(234, 234, 240);
  height: 570px;
  margin-top: -80px;
  margin-bottom: -40px;
  -webkit-clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0 90%);
  clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0 100%);
  z-index: 0;
  padding-top: 110px;
}
.xccreate .sentence {
  color: black;
  margin-left: 180px;
  margin-right: 180px;
}
.xccreate pre {
  background: rgba(220, 223, 234, 1);
  width: 640px;
  margin-left: 180px;
}

.xccreate2 {
  width: 100%;
  background: rgb(234, 234, 240);
  height: 370px;
  margin-top: -20px;
  margin-bottom: 60px;
  -webkit-clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
  z-index: 0;
  padding-top: 60px;
}
.xccreate2 .sentence {
  margin-left: 180px;
  margin-right: 180px;
}
.xccreate2 ul {
  margin-left: 200px;
  margin-bottom: 50px;
}


.xccreate3 {
  width: 100%;
  background: rgb(234, 234, 240);
  height: 1700px;
  margin-top: 20px;
  margin-bottom: 60px;
  -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);
  z-index: 0;
  padding-top: 80px;
}
.xccreate3 .sentence {
  color: black;
  margin-left: 180px;
  margin-right: 180px;
}
.xccreate3 ul {
  margin-left: 200px;
  margin-bottom: 50px;
}
.xccreate3 pre {
  background: rgba(220, 223, 234, 1);
  width: 800px;
  margin-left: 180px;
}

.xccreate4 {
  width: 100%;
  background: rgb(234, 234, 240);
  height: 1100px;
  margin-top: 20px;
  margin-bottom: 60px;
  -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);
  z-index: 0;
  padding-top: 80px;
}
.xccreate4 .sentence {
  color: black;
  margin-left: 180px;
  margin-right: 180px;
}
.xccreate4 ul {
  margin-left: 200px;
  margin-bottom: 50px;
}
.xccreate4 pre {
  background: rgba(220, 223, 234, 1);
  width: 800px;
  margin-left: 180px;
}

.xccreate5 {
  width: 100%;
  background: rgb(234, 234, 240);
  height: 320px;
  margin-top: 20px;
  margin-bottom: 0px;
  -webkit-clip-path: polygon(0 0, 100% 16%, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 16%, 100% 90%, 0 100%);
  z-index: 0;
  padding-top: 70px;
}
.xccreate5 .sentence {
  color: black;
  margin-left: 180px;
  margin-right: 180px;
}
.xccreate5 ul {
  margin-left: 200px;
  margin-bottom: 50px;
}
.xccreate5 pre {
  background: rgba(220, 223, 234, 1);
  width: 800px;
  margin-left: 180px;
}

.xccreate6 {
  width: 100%;
  background: rgb(234, 234, 240);
  height: 920px;
  margin-top: -60px;
  margin-bottom: -20px;
  -webkit-clip-path: polygon(0 6%, 100% 0%, 100% 92%, 0 100%);
  clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0 100%);
  z-index: 0;
  padding-top: 70px;
}
.xccreate6 .sentence {
  margin-left: 180px;
  margin-right: 180px;
}
.xccreate6 ul {
  margin-left: 200px;
  margin-bottom: 50px;
}
.xccreate6 pre {
  width: 800px;
  margin-left: 180px;
}

.xccreate7 {
  width: 100%;
  background: rgb(234, 234, 240);
  height: 1200px;
  margin-top: 0px;
  margin-bottom: -30px;
  -webkit-clip-path: polygon(0 0, 100% 8%, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 8%, 100% 90%, 0 100%);
  z-index: 0;
  padding-top: 100px;
}
.xccreate7 .sentence {
  color: black;
  margin-left: 180px;
  margin-right: 180px;
}
.xccreate7 ul {
  margin-left: 200px;
  margin-bottom: 50px;
}
.xccreate7 pre {
  background: rgba(220, 223, 234, 1);
  width: 800px;
  margin-left: 180px;
}

.xccreate8 {
  width: 100%;
  background: rgb(234, 234, 240);
  height: 240px;
  margin-top: -70px;
  margin-bottom: 60px;
  -webkit-clip-path: polygon(0 26%, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(0 26%, 100% 0%, 100% 100%, 0 100%);
  z-index: 0;
  padding-top: 90px;
}
.xccreate8 .sentence {
  margin-left: 180px;
  margin-right: 180px;
}
.xccreate8 ul {
  margin-left: 200px;
  margin-bottom: 50px;
}
.xccreate8 pre {
  width: 800px;
  margin-left: 180px;
}

.legacydocker {
  width: 100%;
  background: rgb(234, 234, 240);
  height: 710px;
  margin-top: 10px;
  margin-bottom: 60px;
  -webkit-clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0 100%);
  z-index: 0;
  padding-top: 140px;
}
.legacydocker .sentence {
  margin-left: 180px;
  margin-right: 180px;
}
.legacydocker ul {
  margin-left: 200px;
  margin-bottom: 50px;
}

.dockermac {
  width: 100%;
  background: rgb(234, 234, 240);
  height: 600px;
  margin-top: 30px;
  margin-bottom: 40px;
  -webkit-clip-path: polygon(0 0, 100% 16%, 100% 84%, 0 100%);
  clip-path: polygon(0 0, 100% 16%, 100% 84%, 0 100%);
  z-index: 0;
  padding-top: 140px;
}
.dockermac .sentence0 {
  color: black;
}
.dockermac .sentence {
  color: black;
  margin-left: 180px;
  margin-right: 180px;
}

.cliapp {
  width: 100%;
  background: rgb(234, 234, 240);
  height: 940px;
  margin-top: -60px;
  margin-bottom: -100px;
  -webkit-clip-path: polygon(0 12%, 100% 0%, 100% 100%, 0 90%);
  clip-path: polygon(0 12%, 100% 0%, 100% 100%, 0 90%);
  z-index: 0;
  padding-top: 160px;
  padding-left: 100px;
}

.cliapp .sentence234 {
  width: 400px;
  float: right;
  margin-top: -610px;
  padding-right: 200px;
}

.cliapp .sentence2345 {
  width: 230px;
  height: 35px;
  float: right;
  margin-top: -560px;
  margin-right: 390px;
  padding: 20px;
	background: rgb(56, 140, 215);
  background: linear-gradient(rgb(56, 150, 240), rgb(90, 120, 215));
	border-radius: .8em;
  color: white;
  box-shadow: -10px 40px 80px rgba(40, 40, 45, 0.22);
  cursor: pointer;
  transition-duration: 0.4s;
}

.cliapp .sentence2345:hover {
  width: 230px;
  height: 35px;
  float: right;
  margin-top: -560px;
  margin-right: 390px;
  padding: 20px;
  background: linear-gradient(rgb(56, 150, 240), rgb(90, 120, 215));
	border-radius: .8em;
  color: white;
  box-shadow: -10px 20px 80px rgba(40, 40, 45, 0.36);
  cursor: pointer;
}

.cliapp pre {
  width: 800px;
  margin-left: 60px;
}

.top1-block {
margin-left: 115px;
margin-right: 180px;
text-align: left;
}

.top12-block {
margin-left: 115px;
margin-right: 100px;
margin-bottom: 30px;
text-align: center;
}

.option-bubble {
  	position: relative;
  	border-radius: .4em;
    width: 79%;
    height: 50px;
    border-radius: 20px;
    padding: 20px;
    color: rgb(100, 100, 120);
    margin-left: 155px;
    margin-right: auto;
    margin-bottom: -25px;
    margin-top: 20px;
    text-align: left;
}

.option-bubble2 {
  	position: relative;
  	border-radius: .4em;
    width: 79%;
    height: 50px;
    border-radius: 20px;
    padding: 20px;
    color: rgb(100, 100, 120);
    margin-left: 155px;
    margin-right: auto;
    margin-bottom: -25px;
    margin-top: 20px;
    text-align: center;
}

.optbubble {
  font-size: 1em;
  font-weight: 400;
}

.opt2bubble {
  font-size: 2em;
  font-weight: 800;
}

.guide-content {
  /* max-width: 1200px;
  width: 65%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0px 0;
  border-radius: 10px; */
}

.title-block {
  text-align: center;
  margin-bottom: 60px;
}

.title-block img {
  margin-top: -80px;
}

.title-block h1 {
  margin-top: -80px;
}

.highlight {
  font-weight: bold;
  font-family: IBM Plex Mono, monospace;
}

.center-image {
  margin: 50px 0px 50px 0px;
  display: block;
  width: 50%;
  box-shadow: 0px 40px 70px rgba(40, 40, 45, 0.18);
}

@media all and (max-width: 1200px) {
  .slack-help {
    display: none;
  }
}

.slack-help {
  width: 12%;
  height: 170px;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  right: 25px;
  vertical-align: bottom;
}

.slack-help h2 {
  font-size: 1em;
  margin: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
}

.slack-help a {
  color: white;
}

.slack-help img {
  margin-bottom: -5px;
  float: right;
  margin-right: 23%;
  width: 23%;
}
