body {
  font-family: IBM Plex Sans, sans-serif;
  color: #676767; }

.blue-text {
  color: #0780B5; }

/* sidebar-styling */
.docs-sidebar {
  background-color: #FAF8F8;
  box-shadow: 1px 0 1px #DEDEDE;
  position: fixed;
  width: 25%; }
  @media (max-width: 940px) {
    .docs-sidebar {
      z-index: 1000;
      width: 100%;
      position: inherit; } }

@media (max-width: 940px) {
  .docs-window {
    display: none; } }

.docs-title {
  /* Main font-size, margin top and bottom, font weight, large font-size, medium font-size and small font-size */
  font-size: 2.8vw;
  margin-top: 2.7rem;
  margin-bottom: 2.7rem;
  font-weight: bold;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 0; }
  @media (max-width: 1150px) {
    .docs-title {
      font-size: 3vw; } }
  @media (max-width: 940px) {
    .docs-title {
      text-align: center;
      font-size: 8vw; } }
  @media (max-width: 600px) {
    .docs-title {
      font-size: 10vw; } }
  .docs-title:hover {
    cursor: pointer; }

.sidebar-list {
  margin-left: 6rem;
  min-height: 100vh; }
  @media (max-width: 1150px) {
    .sidebar-list {
      margin-left: 4rem; } }
  @media (max-width: 940px) {
    .sidebar-list {
      text-align: center;
      margin-left: 0; } }

.sidebar-item {
  /* Main font-size, margin top and bottom, font weight, large font-size, medium font-size and small font-size */
  font-size: 1.2vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  display: inline-block; }
  @media (max-width: 1150px) {
    .sidebar-item {
      font-size: 1.7vw; } }
  @media (max-width: 940px) {
    .sidebar-item {
      text-align: center;
      font-size: 3vw; } }
  @media (max-width: 600px) {
    .sidebar-item {
      font-size: 5vw; } }
  .sidebar-item:hover {
    cursor: pointer; }
  .sidebar-item:first-of-type {
    margin-top: 3rem; }
  .sidebar-item:hover {
    color: #0780B5;
    font-weight: 800; }

.nested-sidebar-item {
  /* Main font-size, margin top and bottom, font weight, large font-size, medium font-size and small font-size */
  font-size: 0.9vw;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  display: table;
  padding: 1rem 0;
  margin-left: 1rem; }
  @media (max-width: 1150px) {
    .nested-sidebar-item {
      font-size: 1.4vw; } }
  @media (max-width: 940px) {
    .nested-sidebar-item {
      text-align: center;
      font-size: 2vw; } }
  @media (max-width: 600px) {
    .nested-sidebar-item {
      font-size: 4vw; } }
  .nested-sidebar-item:hover {
    cursor: pointer; }
  @media (max-width: 940px) {
    .nested-sidebar-item {
      margin: 0 auto; } }
  .nested-sidebar-item:hover {
    color: #0780B5;
    font-weight: 800; }

/* Search bar styling */
.search-container {
  height: 5.1rem;
  border-right: 1px solid rgba(234, 232, 232, 0.42);
  border-bottom: 1px solid rgba(234, 232, 232, 0.42); }

.docs-nav {
  height: 5.1rem;
  border-bottom: 1px solid rgba(234, 232, 232, 0.42);
  display: flex;
  justify-content: center;
  align-items: center; }

/* Docs nav bar styling */
.apiref-button {
  height: 3vw;
  width: 10vw;
  background: #0780B5;
  color: white;
  border-radius: 0.55rem;
  border: none;
  box-shadow: 1px 2px 2px #DEDEDE;
  font-size: 1.2vw;
  font-weight: 600;
  margin-right: 1.5rem;
  cursor: pointer; }
  @media (max-width: 600px) {
    .apiref-button {
      font-size: 2vw;
      height: 7vw;
      width: 17vw; } }

.nav-item {
  font-size: 1.1vw;
  margin-right: 1.5rem;
  color: #0780B5;
  cursor: pointer; }
  @media (max-width: 600px) {
    .nav-item {
      font-size: 2vw; } }

.temp-beta {
  width: 100%;
  height: 100%;
  color: #676767;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center; }

/* Generic styling */
/* Styling for the underlines for docs title and seperating sections in the docs. */
body {
  max-width: 100vw; }

.underline {
  height: 1px;
  background: #C7C7C7;
  width: 18vw;
  margin: 0 auto;
  opacity: 0.21; }
  @media (max-width: 940px) {
    .underline {
      display: none; } }

.active {
  color: #0780B5;
  font-weight: 800; }

.top-page {
  position: fixed;
  bottom: 20px;
  right: 20px; }
  .top-page a {
    color: white;
    font-size: 1.2vw;
    padding: 0.5rem 0; }
    @media (max-width: 600px) {
      .top-page a {
        font-size: 2.2vw;
        vertical-align: middle; } }
  @media (max-width: 600px) {
    .top-page {
      bottom: 5rem;
      right: 0;
      transform: rotate(270deg);
      background: #0780B5;
      border-radius: 0.55rem;
      padding: 0.2rem 0.3rem 0.3rem 0.3rem; } }

.burger-icon {
  opacity: 0;
  position: absolute;
  top: 0.1rem;
  padding: 1rem;
  z-index: 9999;
  display: block; }
  @media (max-width: 600px) {
    .burger-icon {
      opacity: 1; } }

.burger-line {
  height: 0.2rem;
  width: 2rem;
  background-color: #676767;
  margin: 0.3rem 0; }

/* Class used to animate nested sidebar-items in when side bar item selected */
.content {
  transition: max-height 0.2s ease-out;
  max-height: 0;
  overflow: hidden; }

/* learn.html grid layout */
.docs-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: auto; }

.docs-item-1 {
  grid-column: 1/4;
  grid-row: 1/4; }
  @media (max-width: 940px) {
    .docs-item-1 {
      grid-column: 1/13;
      grid-row: 1/4; } }

.docs-item-2 {
  grid-column: 4/8;
  grid-row: 1/1; }
  @media (max-width: 940px) {
    .docs-item-2 {
      grid-column: 1/13;
      grid-row: 1/1; } }

.docs-item-3 {
  grid-column: 8/13;
  grid-row: 1/1; }
  @media (max-width: 940px) {
    .docs-item-3 {
      grid-column: 1/13;
      grid-row: 2/2; } }

.docs-item-4 {
  grid-column: 4/13;
  grid-row: 2/4; }
  @media (max-width: 940px) {
    .docs-item-4 {
      grid-column: 1/13;
      grid-row: 3/4; } }
