/*general styling*/
body {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 16px;
}
h1, h2, h3 {
  font-weight: bold;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.centre {
  align-items: center;
  justify-content: center;
}
/* Header styling */
.header-main > a {
  margin-left: -30px;
}
.header-main > img {
  height: 120px;
}
.header-nav {
  padding: 0.5em;
  margin-right: 5em;
  align-items: center;
  justify-content: flex-end;
}
.header-nav > a {
  margin: 1em;
}
/* Slider styling */
.slider-section {
  position: relative;
  border-right: black solid 3px;
  height: 550px;
  max-width: 1550px;
}
.slide {
  /* display: flex; set in slider.js */
  height: 100%;
}
.slide-1 {
  background: linear-gradient(#f2f2f2, #eaeaea);
}
.slide-2 {
  background: linear-gradient(to bottom right, #01C1EF, #97E3F5);
}
.slide-2 > h4 {
  color: white;
}
.slide-3 {
    background-image: linear-gradient(to bottom right, #c75739, #bb1a5f);
    position: relative;
    color: white;
}
.slide-3 > h1 {
  font-size: 3em;
}
.slide-3 > p {
  font-size: 1.5em;
  margin-top: 30px;
}
.slide-1-content {
  margin-left: -80px;
  margin-bottom: -20px;
}
.slide-1-content > h1 {
  margin-left: -70px;
  font-size: 5em;
}
.slide-2-content {
  margin-left: -80px;
  margin-bottom: -20px;
}
.slide-2-content > h1 {
  margin-left: -30px;
  font-size: 4.5em;
  color: white;
}
.slide-3-swift-icon, .slide-3-slack-icon {
  position: absolute;
  width: 100px;
}
.slide-3-swift-icon {
  top: 30px;
  left: 30px;
}
.slide-3-slack-icon {
  bottom: 30px;
  right: 30px;
}
/* Slider Nav styling */
.prev, .next {
  position: absolute;
  cursor: pointer;
  top: 50%;
}
.prev img, .next img {
  width: 50px;
}
.next {
  right: 0;
}
/* Slider fade animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}
@-webkit-keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}
/* Code terminal styling */
.code-terminal {
  font-family: IBM Plex Mono, monospace;
  background-color: #1b2834;
  border-radius: 5px;
  margin: 0 auto;
  padding: 5%;
  color: white;
  box-shadow: 2px 5px 5px #272727;
}
.keyword {
  color: rgb(246, 59, 176);
}
.function, .instance {
  color: #00a78f;
}
.string {
  color: rgb(250, 69, 75);
}
.comment {
  color: green;
}
/* Spans are added by prism.js */
.code-terminal span {
  line-height: 30px;
}
/* Button section styling */
.button-section {
  margin: 5% 0;
}
.button {
  width: 180px;
  height: 60px;
  background-color: #1b2834;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #5f5757;
  border-style: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 16px;
}
.button:focus, .button:active {
  outline:0;
}
.button:active {
  box-shadow: 0 0.5px 2px #5f5757;
  transform: translateY(1px);
}
.slack-button-icon {
  width: 23px;
  margin-right: 9px;
}
.api-button-icon {
  width: 25px;
  margin-right: 7px;
}
/* index.html CSS grid layout */
.index-item-1 {
  grid-area: header;
}
.index-item-2 {
  grid-area: nav;
}
.index-item-3 {
  grid-area: slider;
  box-shadow: 2px 5px 50px #cdcdcd;
}
.index-item-4 {
  grid-area: code;
  box-shadow: 2px 5px 50px #cdcdcd;
}
.index-item-5 {
  grid-area: buttons;
}
.index-item-6 {
  grid-area: blogs;
  background-color: green;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header nav nav nav nav'
    'slider slider slider code code code'
    '. . buttons buttons . .'
    'blogs blogs blogs blogs blogs blogs';
}
