body {
  font-family: IBM Plex Sans, sans-serif;
}
.flex-row-end {
  display: flex;
  justify-content: flex-end;
}
/* index.html CSS grid layout */
.index-item-1 {
  grid-area: header;
  background-color: blue;
}
.index-item-2 {
  grid-area: nav;
  background-color: purple;
}
.index-item-3 {
  grid-area: slider;
  background-color: yellow;
}
.index-item-4 {
  grid-area: code;
  background-color: red;
}
.index-item-5 {
  grid-area: buttons;
  background-color: pink;
}
.index-item-6 {
  grid-area: blogs;
  background-color: green;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header nav nav nav nav'
    'slider slider slider slider code code'
    'buttons buttons buttons buttons buttons buttons'
    'blogs blogs blogs blogs blogs blogs';
    grid-gap: 0.5em;
}
