/*general styling*/
html {
  overflow-y: scroll;
}
body {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 18px;
}
h1, h2, h3, h4 {
  font-weight: bold;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
input:focus {
  outline: none;
}
.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.centre {
  align-items: center;
  justify-content: center;
}
/* Header styling */
.header-main > a {
  margin-left: -30px;
}
.header-main > img {
  height: 120px;
}
.header-nav {
  padding: 0.5em;
  padding-right: 5em;
  align-items: center;
  justify-content: flex-end;
}
.header-nav > a {
  margin: 1em;
}
/* Footer styling */
footer {
  background-color: #152333;
  height: 70px;
}
.footer-link {
  color: white;
  margin: 0 100px;
}
.footer-logo {
  width: 100px;
  height: 62px;
}
/* Index Styling */
/* Slider styling */
.slider-section {
  position: relative;
  border-right: black solid 3px;
  height: 550px;
  max-width: 1550px;
}
.slide {
  /* display: flex; set in slider.js */
  height: 100%;
}
.slide-1 {
  background: linear-gradient(#f2f2f2, #eaeaea);
}
.slide-2 {
  background: linear-gradient(to bottom right, #01C1EF, #97E3F5);
}
.slide-2 > p {
  color: white;
}
.slide-3 {
    background-image: linear-gradient(to bottom right, #c75739, #bb1a5f);
    position: relative;
    color: white;
}
.slide-3 > h1 {
  font-size: 2.5em;
}
.slide-3 > p {
  font-size: 1.5em;
  margin-top: 30px;
}
.slide-1-content {
  margin-left: -80px;
  margin-bottom: -20px;
}
.slide-1-content > h1 {
  margin-left: -30px;
  font-size: 5em;
}
.slide-1-content > img, .slide-2-content > img {
  width: 250px;
}
.slide-2-content {
  margin-left: -80px;
  margin-bottom: -20px;
}
.slide-2-content > h1 {
  margin-left: -30px;
  font-size: 4em;
  white-space: nowrap;
  color: white;
}
.slide-3-swift-icon, .slide-3-slack-icon {
  position: absolute;
  width: 10%;
}
.slide-3-swift-icon {
  top: 30px;
  left: 30px;
}
.slide-3-slack-icon {
  bottom: 30px;
  right: 30px;
}
/* Slider Nav styling */
.prev, .next {
  position: absolute;
  cursor: pointer;
  top: 50%;
}
.prev img, .next img {
  width: 40px;
}
.next {
  right: 0;
}
/* Slider fade animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}
@-webkit-keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}
/* Code terminal styling */
.code-terminal {
  font-family: IBM Plex Mono, monospace;
  background-color: #1b2834;
  border-radius: 5px;
  margin: 0 auto;
  padding: 5%;
  color: white;
  box-shadow: 2px 5px 5px #272727;
}
.keyword {
  color: rgb(246, 59, 176);
}
.function, .instance {
  color: #00a78f;
}
.string {
  color: rgb(250, 69, 75);
}
.comment {
  color: green;
}
/* Spans are added by prism.js */
.code-terminal span {
  line-height: 30px;
}
/* Button section styling */
.button-section {
  height: 60px;
  margin-top: 30px;
}
.button {
  width: 180px;
  height: 100%;
  background-color: #1b2834;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #5f5757;
  border-style: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1%;
  font-size: 16px;
}
.button:focus, .button:active {
  outline:0;
}
.button:active {
  box-shadow: 0 0.5px 2px #5f5757;
  transform: translateY(1px);
}
.slack-button-icon {
  width: 23px;
  margin-right: 9px;
}
.api-button-icon {
  width: 25px;
  margin-right: 7px;
}
/* Blog section styling */
.blog-section {
  height: 200px;
  margin: 30px 0;
}
.blog-card {
  box-shadow: 1px 1px 5px #5f5757;
  margin: 0 auto;
  width: 30%;
  height: 100%;
  border-radius: 5px;
}
.blog-card > img {
  width: 50%;
  height: 100px;
}
.blog-card > p, .blog-card > h3 {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
/* Learn Sytling */
.docs-sidebar {
	height: 100vh;
  width: 20%;
  background: #FAF8F8;
  box-shadow: 1px 0 1px #DEDEDE;
	position: fixed;
  color: #676767;
	left: 0;
}

.docs-title {
  font-size: 2.44rem;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  margin-top: 2.7rem;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.docs-title-section {
  color: #0780B5;
}

.show {
  display: block;
}

.underline {
  height: 1px;
  background: #C7C7C7;
  width: 16rem;
  margin: 0 auto;
  opacity: 0.21;
  margin-bottom: 3.4rem;
}

.sidebar-nav {
  width: 13rem;
  margin: 0 auto;
}

.sidebar-list {
  list-style: none;
  font-size: 1.33rem;
  font-weight: 500;
  margin-top: 4rem;
}

.sidebar-item {
  margin-bottom: 2rem;
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.nested-sidebar-list {
	list-style: none;
	font-size: 1rem;
	margin-left: 1rem;
	margin-top: -0.5rem;
}

.nested-sidebar-item {
	margin-bottom: 2rem;
	cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.content {
	display: none;
}
.active, .nested-sidebar-item:hover, .sidebar-item:hover {
  color: #0780B5;
  font-weight: 800;
}
/*
 Search section styling
*/
.search-container {
  height: 5.1rem;
  border-right: 1px solid rgba(234, 232, 232, 0.42);
  border-bottom: 1px solid rgba(234, 232, 232, 0.42);
}
.docs-search {
  width: 90%;
  height: 90%;
  border: none;
  color: #676767;
  opacity: 0.58;
  font-size: 1.33rem;
	padding-left: 2rem;
	margin-left: 1rem;
}

.top-page {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.top-page > a {
  color: #0780B5;
  font-size: 0.9rem;
}

/*
    BETA Stlying
*/
.temp-beta {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #676767;
  opacity: 0.5;
}

/* Nav section styling */

.docs-nav {
  height: 5.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(234, 232, 232, 0.42);
}

.apiref-button {
  height: 2.66rem;
  width: 10.88rem;
  background: #0780B5;
  color: white;
  border-radius: 0.55rem;
  border: none;
  box-shadow: 1px 2px 2px #DEDEDE;
  font-size: 1.11rem;
  font-weight: 600;
  margin-right: 1.5rem;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.nav-item {
  margin-right: 1.5rem;
  color: #0780B5;
  cursor: pointer;
}

/* Packages Styling */
/* Popular packages styling */
.popular-packages-section {
  border-radius: 5px;
  box-shadow: 2px 5px 50px #cdcdcd;
  margin: 2% 0;
  padding: 1%;
  height: 250px;
}
.packages-section {
  justify-content: center;
  height: 100%;
}
.popular-packages-card {
  margin: 1% auto;
  background: #00bbe6;
  border-radius: 5px;
  box-shadow: 2px 5px 10px #cdcdcd;
  width: 20%;
  height: 200px;
}
.popular-packages-card > h4 {
  color: white;
  margin-bottom: 15%;
}
.all-repo-section {
  flex-flow: row wrap;
}
.card {
  width: 30%;
  box-shadow: 2px 2px 10px #cdcdcd;
  margin: 1% auto;
  border-radius: 5px;
  padding: 1%;
}
.card img {
  width: 20%;
  display: block;
  margin: 1% auto;
}
.card > h3 {
  text-align: center;
  margin: 5% 0 10% 0;
}
.card > h4 > a {
  font-size: 0.9em;
  color: #00bbe6;
}
.card > p {
  margin: 2% 0 5% 0;
}
.card > a {
  float: right;
  color: #00bbe6;
  border: solid #00bbe6 1px;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.9em;
}
/* Events Styling */
.events-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 50px;
  margin: 50px 0 50px 0;
}
.event-card {
  box-shadow: 2px 2px 10px #cdcdcd;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  height: 250px;
  position: relative;
}
.event-card-image-container {
  background: linear-gradient(#f2f2f2, #eaeaea);
  width: 50%;
}
.event-card-image {
  width: 50%;
}
.event-card-info {
  width: 100%;
}
.event-card-info a {
  color: #00bbe6;
}
.event-card-info > h3 {
  margin: 2% 0 3% 2%;
}
.event-card-info > p {
  margin: 2% 0 3% 2%;
}
.summary {
  margin: 4% 0 3% 2%;
}
.event-link {
  position: absolute;
  bottom: -20px;
  left: 33%;
}
/* Help Styling */
.social-section {
  justify-content: center;
  height: 100%;
}
.support-social-box {
  width: 30%;
  height: 65%;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #cdcdcd;
  margin: 20px 10px 20px 10px;
  color: white;
  display: flex;
  text-align: center;
  line-height: 24px;
}
.support-social-box img {
  width: 35%;
  margin-bottom: 20%;
}
.support-social-box p {
  margin: 0 5%;
}
.help-slack {
  background-color: rgb(217, 20, 71);
}
.help-forums {
  background-color: rgb(237, 82, 63);
}
.help-report {
  background-color: black;
}
.help-dev {
  background-color: rgb(49, 81, 183);
}
.help-commerce-header {
  margin: 3% 0;
}
.help-hero {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 10px #cdcdcd;
  width: 70%;
  display: block;
  margin: 0 auto 3% auto;
  height: 110px;
}
.help-hero-image {
  width: 100%;
  height: auto;
}
/* App Styling */
.app-info-section > h2, .app-info-section > p {
  margin-bottom: 5%;
  text-align: center;
}
.download-button {
  height: 60px;
}
.download-icon {
  width: 15%;
  margin-right: 10px;
}
.changes-list {
  list-style: circle;
  margin: 2% 0 0 3%;
  line-height: 25px;
  font-size: 1.1em;
}
.preview-section {
  margin-top: 5%;
  background-color: #00bbe6;
  padding-top: 2%;
}
.preview-section > img {
  width: 25%;
}
/* CSS Grid Layouts */
/* index.html CSS grid layout */
.index-item-1 {
  grid-area: header;
}
.index-item-2 {
  grid-area: nav;
}
.index-item-3 {
  grid-area: slider;
  box-shadow: 2px 5px 50px #cdcdcd;
}
.index-item-4 {
  grid-area: code;
  box-shadow: 2px 5px 50px #cdcdcd;
}
.index-item-5 {
  grid-area: buttons;
}
.index-item-6 {
  grid-area: blogs;
}
.index-item-7 {
  grid-area: footer;
}
.index-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'header header nav nav nav nav'
    'slider slider slider code code code'
    '. . buttons buttons . .'
    '. blogs blogs blogs blogs .'
    'footer footer footer footer footer footer';
}
/* learn.html CSS grid layout */
.docs-item-1 {
  grid-area: sidebar;
}

.docs-item-2 {
  grid-area: search;
}

.docs-item-3 {
  grid-area: nav;
}

.docs-item-4 {
  grid-area: iframe;
}

.docs-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
	grid-template-rows: 6rem;
  grid-template-areas:
      'sidebar search nav'
      'sidebar iframe iframe';
}
/* packages.html CSS grid layout */
.packages-item-1 {
  grid-area: header;
}
.packages-item-2 {
  grid-area: nav;
}
.packages-item-3 {
  grid-area: title;
}
.packages-item-4 {
  grid-area: core;
}
.packages-item-5 {
  grid-area: repos;
}
.packages-item-6 {
  grid-area: footer;
}
.packages-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
      'header header nav nav nav nav'
      '. title title title title .'
      '. core core core core .'
      '. repos repos repos repos .'
      'footer footer footer footer footer footer';
      grid-row-gap: 1%;
}
/* events.html CSS grid layout */
.events-item-1 {
  grid-area: header;
}
.events-item-2 {
  grid-area: nav;
}
.events-item-3 {
  grid-area: title;
}
.events-item-4 {
  grid-area: events;
}
.events-item-5 {
  grid-area: footer;
}
.events-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
      'header header nav nav nav nav'
      '. title title title title .'
      '. events events events events .'
      'footer footer footer footer footer footer';
}
/* help.html CSS grid layout */
.help-item-1 {
  grid-area: header;
}
.help-item-2 {
  grid-area: nav;
}
.help-item-3 {
  grid-area: title;
}
.help-item-4 {
  grid-area: help;
  height: 350px;
}
.help-item-5 {
  grid-area: support;
  height: 300px;
}
.help-item-6 {
  grid-area: footer;
}
.help-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
      'header header nav nav nav nav'
      '. title title title title .'
      '. help help help help .'
      '. support support support support .'
      'footer footer footer footer footer footer';
}
/* app.html CSS grid layout */
.app-item-1 {
  grid-area: header;
}
.app-item-2 {
  grid-area: nav;
}
.app-item-3 {
  grid-area: download;
}
.app-item-4 {
  grid-area: changes;
}
.app-item-5 {
  grid-area: preview;
}
.app-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
      'header header nav nav nav nav'
      '. download download download download .'
      '. changes changes changes changes .'
      'preview preview preview preview preview preview'
      'footer footer footer footer footer footer'
}
