/*general styling*/
body {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 16px;
}
h1, h2, h3, h4 {
  font-weight: bold;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.centre {
  align-items: center;
  justify-content: center;
}
/* Header styling */
.header-main > a {
  margin-left: -30px;
}
.header-main > img {
  height: 120px;
}
.header-nav {
  padding: 0.5em;
  padding-right: 5em;
  align-items: center;
  justify-content: flex-end;
}
.header-nav > a {
  margin: 1em;
}
/* Footer styling */
footer {
  background-color: #152333;
  height: 70px;
}
.footer-link {
  color: white;
  margin: 0 100px;
}
.footer-logo {
  width: 100px;
  height: 62px;
}
/* Index Styling */
/* Slider styling */
.slider-section {
  position: relative;
  border-right: black solid 3px;
  height: 550px;
  max-width: 1550px;
}
.slide {
  /* display: flex; set in slider.js */
  height: 100%;
}
.slide-1 {
  background: linear-gradient(#f2f2f2, #eaeaea);
}
.slide-2 {
  background: linear-gradient(to bottom right, #01C1EF, #97E3F5);
}
.slide-2 > h4 {
  color: white;
}
.slide-3 {
    background-image: linear-gradient(to bottom right, #c75739, #bb1a5f);
    position: relative;
    color: white;
}
.slide-3 > h1 {
  font-size: 3em;
}
.slide-3 > p {
  font-size: 1.5em;
  margin-top: 30px;
}
.slide-1-content {
  margin-left: -80px;
  margin-bottom: -20px;
}
.slide-1-content > h1 {
  margin-left: -70px;
  font-size: 5em;
}
.slide-2-content {
  margin-left: -80px;
  margin-bottom: -20px;
}
.slide-2-content > h1 {
  margin-left: -30px;
  font-size: 4.5em;
  color: white;
}
.slide-3-swift-icon, .slide-3-slack-icon {
  position: absolute;
  width: 100px;
}
.slide-3-swift-icon {
  top: 30px;
  left: 30px;
}
.slide-3-slack-icon {
  bottom: 30px;
  right: 30px;
}
/* Slider Nav styling */
.prev, .next {
  position: absolute;
  cursor: pointer;
  top: 50%;
}
.prev img, .next img {
  width: 50px;
}
.next {
  right: 0;
}
/* Slider fade animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}
@-webkit-keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}
/* Code terminal styling */
.code-terminal {
  font-family: IBM Plex Mono, monospace;
  background-color: #1b2834;
  border-radius: 5px;
  margin: 0 auto;
  padding: 5%;
  color: white;
  box-shadow: 2px 5px 5px #272727;
}
.keyword {
  color: rgb(246, 59, 176);
}
.function, .instance {
  color: #00a78f;
}
.string {
  color: rgb(250, 69, 75);
}
.comment {
  color: green;
}
/* Spans are added by prism.js */
.code-terminal span {
  line-height: 30px;
}
/* Button section styling */
.button-section {
  margin: 5% 0;
}
.button {
  width: 180px;
  height: 60px;
  background-color: #1b2834;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #5f5757;
  border-style: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1%;
  font-size: 16px;
}
.button:focus, .button:active {
  outline:0;
}
.button:active {
  box-shadow: 0 0.5px 2px #5f5757;
  transform: translateY(1px);
}
.slack-button-icon {
  width: 23px;
  margin-right: 9px;
}
.api-button-icon {
  width: 25px;
  margin-right: 7px;
}
/* Blog section styling */
.blog-section {
  margin-bottom: 3%;
}
.blog-card {
  box-shadow: 1px 1px 5px #5f5757;
  margin: 0 auto;
  width: 30%;
  border-radius: 5px;
  padding: 2% 0;
}
.blog-card > img {
  width: 50%;
  height: 100px;
}
.blog-card > p, h3 {
  margin-bottom: 10px;
  font-weight: bold;
}
/* Learn Sytling */
/* Guide section styling */
.guide-section {
  background: linear-gradient(#00bbe6, #0086a5);
  border-radius: 5px;
  box-shadow: 2px 5px 50px #cdcdcd;
}
.guide-card {
  background-color: white;
  margin: 1% auto;
  border-radius: 5px;
  width: 22%;
  padding: 1%;
  align-items: center;
  box-shadow: 3px 3px 5px #606060;
}
.guide-card > h4 {
  text-align: center;
}
.guide-card-image {
  width: 20%;
  height: 15%;
  display: block;
  margin: 2% auto;
}
.guide-list {
  margin-top: 10%;
}
.guide-list > li {
  font-size: 0.95em;
  margin-bottom: 8%;
}
.guide-list > li:hover {
  font-weight: bold;
}
/* Tutorial section styling */
.tutorial-section {
  justify-content: center;
}
/* Community card styling added here as well */
.tutorial-card, .community-card {
  width: 21%;
  height: 200px;
  margin: 3% 1%;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #606060;
  color: white;
  padding: 1%;
}
.tutorial-card > p, .community-card > p {
  font-size: 0.8em;
  margin-bottom: 5%;
}
.wenderlich-starter, .food-tracker, .todo-backend {
  background: linear-gradient(#00bbe6, #0086a5);
  overflow: hidden;
}
.wenderlich-stencil {
  background: linear-gradient(forestgreen, darkgreen);
}
.tutorial-card > img {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
.wenderlich-starter > img {
  width: 45%;
}
.food-tracker > img {
  width: 65%;
}
.todo-backend > img {
  width: 70%;
}
.wenderlich-stencil > img {
  width: 80%;
}
/* Community section styling */
.community-section {
  justify-content: center;
}
.community-card {
  margin: 0 1% 3% 1%;
}
.hacking-swift {
  background-color: black;
}
.kitura-dawn {
  background: linear-gradient(#00bbe6, #0086a5);
}
.objc-book {
  background: linear-gradient(rgb(238, 157, 57), rgb(221, 70, 58));
}
.hacking-swift > img, .kitura-dawn > img {
  width: 100%;
}
.hacking-swift > img {
  margin-top: 5%;
}
.swift-book-icon-left, .swift-book-icon-right {
  font-size: 100px;
  display: inline-block;
}
.swift-book-icon-left {
  margin: 40px 0 0 40px;
}
.swift-book-icon-right {
  margin: 40px 0 0 -20px;
}

/* Packages Styling */
/* Popular packages styling */
.popular-packages-section {
  border-radius: 5px;
  box-shadow: 2px 5px 50px #cdcdcd;
  margin: 2% 0;
  padding: 1%;
}
.packages-section {
  justify-content: center;
}
.popular-packages-card {
  margin: 1% auto;
  background: #00bbe6;
  border-radius: 5px;
  box-shadow: 2px 5px 10px #cdcdcd;
  width: 20%;
}
.popular-packages-card > h4 {
  color: white;
  margin-bottom: 15%;
}
.all-repo-section {
  flex-flow: row wrap;
  justify-content: center;
}
.card {
  width: 30%;
  box-shadow: 2px 2px 10px #cdcdcd;
  margin: 1% auto;
  border-radius: 5px;
  position: relative;
  padding: 1%;
}
.card img {
  width: 20%;
  display: block;
  margin: 1% auto;
}
.card > h3 {
  text-align: center;
  margin: 5% 0 10% 0;
}
.card > h4 > a {
  font-size: 0.9em;
  color: #00bbe6;
}
.card > p {
  margin: 2% 0 5% 0;
}
.card > a {
  float: right;
  color: #00bbe6;
  border: solid #00bbe6 1px;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.9em;
}
/* Events Styling */
.events-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 50px;
  margin: 50px 0 50px 0;
}
.event-card {
  box-shadow: 2px 2px 10px #cdcdcd;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  height: 250px;
  position: relative;
}
.event-card-image-container {
  background: linear-gradient(#f2f2f2, #eaeaea);
  width: 50%;
}
.event-card-image {
  width: 50%;
}
.event-card-info {
  width: 100%;
}
.event-card-info a {
  color: #00bbe6;
}
.event-card-info > h3 {
  margin: 2% 0 3% 2%;
}
.event-card-info > p {
  margin: 2% 0 3% 2%;
}
.summary {
  margin: 4% 0 3% 2%;
}
.event-link {
  position: absolute;
  bottom: -20px;
  left: 33%;
}
/* Help Styling */
.social-section {
  justify-content: center;
}
.support-social-box {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #cdcdcd;
  margin: 20px 10px 20px 10px;
  color: white;
  display: flex;
  text-align: center;
  line-height: 24px;
}
.support-social-box img {
  width: 35%;
  margin-bottom: 20%;
}
.support-social-box p {
  margin: 0 5%;
}
.help-slack {
  background-color: rgb(217, 20, 71);
}
.help-forums {
  background-color: rgb(237, 82, 63);
}
.help-report {
  background-color: black;
}
.help-dev {
  background-color: rgb(49, 81, 183);
}
.help-commerce-header {
  margin: 3% 0;
}
.help-hero {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 10px #cdcdcd;
  height: 100%;
  width: 70%;
  display: block;
  margin: 0 auto 3% auto;
  height: 130px;
}
.help-hero-image {
  width: 100%;
}
/* CSS Grid Layouts */
/* index.html CSS grid layout */
.index-item-1 {
  grid-area: header;
}
.index-item-2 {
  grid-area: nav;
}
.index-item-3 {
  grid-area: slider;
  box-shadow: 2px 5px 50px #cdcdcd;
}
.index-item-4 {
  grid-area: code;
  box-shadow: 2px 5px 50px #cdcdcd;
}
.index-item-5 {
  grid-area: buttons;
}
.index-item-6 {
  grid-area: blogs;
}
.index-item-7 {
  grid-area: footer;
}
.index-grid-container {
  display: grid;
  grid-template-areas:
    'header header nav nav nav nav'
    'slider slider slider code code code'
    '. . buttons buttons . .'
    '. blogs blogs blogs blogs .'
    'footer footer footer footer footer footer';
}
/* learn.html CSS grid layout */
.learn-item-1 {
  grid-area: header;
}
.learn-item-2 {
  grid-area: nav;
}
.learn-item-3 {
  grid-area: guides;
}
.learn-item-4 {
  grid-area: tutorials;
}
.learn-item-5 {
  grid-area: community;
}
.learn-item-6 {
  grid-area: footer;
}
.learn-grid-container {
  display: grid;
  grid-template-areas:
      'header header nav nav nav nav'
      'guides guides guides guides guides guides'
      '. tutorials tutorials tutorials tutorials .'
      '. community community community community .'
      'footer footer footer footer footer footer';
}
/* packages.html CSS grid layout */
.packages-item-1 {
  grid-area: header;
}
.packages-item-2 {
  grid-area: nav;
}
.packages-item-3 {
  grid-area: title;
}
.packages-item-4 {
  grid-area: core;
}
.packages-item-5 {
  grid-area: repos;
}
.packages-item-6 {
  grid-area: footer;
}
.packages-grid-container {
  display: grid;
  grid-template-areas:
      'header header nav nav nav nav'
      '. title title title title .'
      '. core core core core .'
      '. repos repos repos repos .'
      'footer footer footer footer footer footer';
}
/* events.html CSS grid layout */
.events-item-1 {
  grid-area: header;
}
.events-item-2 {
  grid-area: nav;
}
.events-item-3 {
  grid-area: title;
}
.events-item-4 {
  grid-area: events;
}
.events-item-5 {
  grid-area: footer;
}
.events-grid-container {
  display: grid;
  grid-template-areas:
      'header header nav nav nav nav'
      '. title title title title .'
      '. events events events events .'
      'footer footer footer footer footer footer';
}
/* help.html CSS grid layout */
.help-item-1 {
  grid-area: header;
}
.help-item-2 {
  grid-area: nav;
}
.help-item-3 {
  grid-area: title;
}
.help-item-4 {
  grid-area: help;
}
.help-item-5 {
  grid-area: support;
}
.help-item-6 {
  grid-area: footer;
}
.help-grid-container {
  display: grid;
  grid-template-areas:
      'header header nav nav nav nav'
      '. title title title title .'
      '. help help help help .'
      '. support support support support .'
      'footer footer footer footer footer footer';
}
