html {
  overflow-x: hidden;
}
h1 {
  font-size:2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: 0.8em;
}
/* Header Styling */
.header-main {
  width: 100%;
}
.header-main > img {
  width: 30%;
}
.header-main > a {
  margin-left: -20px;
}
.header-nav {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* index.html styling */
.index-grid-container {
  display: block;
}
.index-item-4 {
  display: none;
}
.slider-section {
  border: none;
}
.slide-1-content > h1 {
  font-size: 2em;
}
.slide-2-content > h1 {
  font-size: 2em;
}
.slide-3 > h1 {
  font-size: 2em;
}
.slide-3 > p {
  font-size: 1em;
}
.button-section {
  flex-direction: column;
}
.button {
  width: 60%;
  margin: 10px 0;
}
.slack-button {
  display: none;
}
.blog-section {
  flex-direction: column;
}
.blog-card {
  width: 90%;
  margin: 10px 0
}
/* learn.html styling */
.learn-grid-container {
  display: block;
}
.guide-section {
  flex-direction: column;
  padding: 1% 0;
}
.guide-card {
  width: 90%;
}
.tutorial-section {
  flex-direction: column;
  margin-top: 10%;
}
.tutorial-card {
  width: 90%;
  margin: 3% auto;
}
.community-section {
  flex-direction: column;
  margin-top: 10%;
}
.community-card {
  width: 90%;
  margin: 3% auto;
  overflow: hidden;
}
.hacking-swift > img, .kitura-dawn > img {
  width: 80%;
  display: block;
  margin: 3% auto 0 auto;
}
.swift-book-icon-left {
  margin: 20px 0 0 100px;
}
/* packages.html styling */
.packages-grid-container {
  display: block;
}
.packages-item-3 {
  text-align: center;
}
.packages-item-3 > p {
  line-height: 25px;
  font-size: 0.8em;
}
.packages-section {
  flex-direction: column;
  margin-top: 10%;
}
.popular-packages-card {
  width: 90%;
  margin: 3% auto;
}
.all-repo-section {
  flex-direction: column;
  margin: 10% auto;
}
.card {
  width: 90%;
}
/* events.html styling */
.events-grid-container {
  display: block;
}
.events-item-3 {
  text-align: center;
}
.events-item-3 > p {
  line-height: 25px;
}
.event-card-image-container {
  display: none;
}
.event-link {
  bottom: 0;
  white-space: nowrap;
}
.event-card {
  width: 90%;
  padding: 3%;
}
/* help.html styling */
.help-grid-container {
  display: block;
}
.help-item-3 {
  text-align: center;
}
.support-social-header {
  text-align: center;
}
.social-section {
  flex-direction: column;
  margin-top: 10%;
}
.support-social-box {
  width: 90%;
  margin: 3% auto;
}
.support-social-box > img {
  width: 20%;
  margin-bottom: 5%;
}
.help-commerce-header {
  text-align: center;
  margin-top: 10%;
}
.help-hero {
  width: 100%;
  height: 100%;
  margin-bottom: 10%;
}
