html, body{
  background-color: white; 
	width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', 'helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
	color: rgb(52, 57, 63);
  font-size: 14pt;
  overflow-y: scroll;
   -webkit-overflow-scrolling: touch;
overflow-x: hidden;
  font-weight: 300;
  letter-spacing: 0.5px;
}

h1,h2 {
  font-weight: 300;
  color: black;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
      line-height: 1.6rem;

}

a {
  text-decoration: none;
}


a div.button:hover {
  background-color: rgb(43, 136, 248);
}

section {
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding-top:100px;
  padding-bottom:100px;
  padding-left: 3%;
  padding-right: 3%;
  flex-wrap: wrap;
  flex: 0 1 auto;
	min-width: 0;
}

.button{
  cursor: pointer;
}

span.store-button {
  color: white;
  text-decoration: none;
}

.super-script {
  font-style: italic;
  vertical-align: super;
  margin-left: 10px;
}

.splash {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 790px;
  background-image: url("../assets/macBookMockup@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  justify-content: center;
}

.splash .icon {
/*  margin-top:115px;*/
}

.splash h1 {
  font-size: 2.5rem;
  margin-top: 33px;
  margin-bottom: 36px;
  color: white;
}

.splash .super-script {
  font-size: 1rem;
}

.splash .text {
  margin-bottom: 50px;
  max-width: 650px;
  font-weight: 300;
}

.splash a {
  margin-bottom: 10px;
}

.splash .button {
  height: 50px;
  width: 260px;
  background-color: rgb(85, 160, 249);
  display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.integrate {
  flex-direction: column;
}

.integrate h2 {
  margin-top: 0;
  margin-bottom: 22px;
}

.integrate .text {
  max-width: 555px;
}

.integrate .image {
  height: 600px;
  width:100%;
  flex: 1 1 auto;
	min-width: 0;
  background-image: url("../assets/integrate@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.manage .screenshot {
  background-image: url("../assets/runtimeDetailPage@2x.png")
}

.code .screenshot {
  background-image: url("../assets/runtimeDetailPage@2x.png")
}

.projects .screenshot {
  background-image: url("../assets/newProjectScreen@2x.png")
}
.monitor .screenshot {
  background-image: url("../assets/monitor@2x.png")
}

.view .screenshot {
  background-image: url("../assets/projectDetailPage@2x.png")
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
    align-content: center;
    justify-content: center;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    flex: 1 1 auto;
	min-width: 0;
}

.text-container h2 {
  max-width: 495px;
}

.text-container .text {
  max-width: 495px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    flex: 1 1 auto;
	max-height: 600px;
	max-width: 1100px;
}
.image-container .screenshot {
  
	height: 600px;
  min-width: 500px;
  background-position: center;
  flex: 1 1 auto;
  background-repeat: no-repeat;
  background-size: contain;
  width:100%;
}

.code, .monitor {
  background-color: rgb(244, 244, 244);
  flex-direction: row;
}

.manage, .projects, .view {
  background-color: rgb(235, 235, 235);
  flex-direction: row;
}

.view {
  background-image: url("../assets/clouds@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.sample {
  flex-direction: column;
}

.sample h2 {
  max-width: 800px;
}

.sample .text {
  max-width: 671px;
}

.sample .image {
  height: 600px;
  width:100%;
  flex: 1 1 auto;
	min-width: 0;
  background-image: url("../assets/bluePic@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.download {
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.download h1 {
  font-size: 2.5rem;
  margin-top: 33px;
  margin-bottom: 36px;
}

.download .super-script {
  font-size: 1rem;
}

.download .text {
  margin-bottom: 63px;
  max-width: 690px;
  font-weight: 300;
}

.download a {
  margin-bottom: 10px;
}

.download .button {
  height: 50px;
  width: 260px;
  background-color: rgb(85, 160, 249);
  display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
}


@media (max-width: 735px) {
  p {
    margin-left: 5%;
    margin-right: 5%;
  }
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .splash .text {
    margin-bottom: 30px;
}
  
  .image-container .screenshot {
    min-width: 300px;
    height: 300px;
  }

  .sample .image, .integrate .image {
    height: 300px;
  }

  .illustration {
    display: none;
  }

}
