.menu ul {
  list-style: none;
  background-color: #d8d8d8;
  padding: 0;
}

.menu ul li {
  border-top: solid 1px #e6e6e6;
}

.menu ul li, .menu li {
  line-height: 35px !important;
}

.sticky-header {
  position: fixed;
  width:100%;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
    align-content: center;
    justify-content: center;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
}

.sticky-header nav {
  width: 100%;
}

.sticky-header nav ul {
  display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 100%;
}

.sticky-header .logo {
    display: flex;
    align-items: center;
        letter-spacing: -0.2px;
}
.sticky-header .logo p {
  margin: 0;
}

.sticky-header .logo img {
  margin-right: 5px;
}

.sticky-header .logo .super-script {
  font-size: 0.5rem;
}

.sticky-header .button{
  height: 36px;
    width: 200px;
    background-color: rgb(85, 160, 249);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.sticky-header nav ul li {
  text-align: right;
}

.sticky-header nav ul a {
  text-decoration: none;
  color: black;
}

.sticky-header nav ul a.store-button {
  color: white;
}






footer {
  background-color: rgb(85, 160, 249);
  height: 110px;
  display: flex;
  align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

footer .links li {
  flex: 1 1 auto;
}

.more-links {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0;
  text-align: left;
}

footer .more-links li {
  flex: 0;
  padding: 0 15px;
  /*min-width: 50px;*/
}

footer .more-links li a:hover {
  text-decoration: underline;
}

.more-links li:nth-of-type(2) {
  border-left: solid 1px white;
}



footer .links {
      display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 15px;
	font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
footer .nav-footer {
  display: flex;
  align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}
footer .swift-link {
font-size: 18px;

}
footer .links a {
  text-decoration: none;
  color: white;
}







@media (max-width: 735px) {

  .sticky-header, footer {
  position: relative;
  height:auto;
  padding-bottom: 10px;
  }
  .sticky-header nav ul {
  flex-direction: column;

}
.sticky-header nav ul li {
  padding-top : 10px;
  padding-bottom : 10px;
}
footer .links {
  flex-direction: column;
}
footer .links li {
  padding-top : 10px;
  padding-bottom : 10px;
  text-align: center;
}
}







/* navigation */

#navdiv {
	margin: auto;
	width: 380px;
}

#navbar {
/*  padding-left: 10%; */
  max-width: 1193px;
  position: relative;
/*  width: 650px; */
  margin: auto;
  font-size: 14pt;
}

#navbar a {
  margin: 0px;
  padding-right: 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Open Sans', 'helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
  color: rgb(52, 57, 63) !important;
  font-size: 12pt !important;
  font-weight: 300 !important;
  letter-spacing: 0.5px !important;
}

#navbar a.active {
  font-weight: bold;
  color: #353535;
}


/* dropdown menu */

#navmenu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 13px;
  z-index: 1000;
}

#navmenu > li {
  list-style: none;
  padding: 0;
  float: left;
}

#navmenu a:hover {
  text-decoration: none;
  color: #a0a0a0 !important;
}

#navmenu .dropit-submenu li a:hover {
  color: rgb(52, 57, 63) !important;
}

.menu ul {
  display: none;
}

.menu ul.dropit-submenu {
  background-color: white;
  border: 1px solid #dddddd;
  /*padding: 6px 0;*/
  padding: 0;
  margin: 0 0 0 1px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}

.menu ul.dropit-submenu a {
  display: block;
  color: #777;
  padding: 0 8px 2px 8px;
}

.menu ul.dropit-submenu a:hover {
  background: #00bbe6;
  color: #fff !important;
  text-decoration: none;
}

/* secondary menu */

#menu {
  position: fixed;
  margin: 0;
  padding: 0 10px 0 0;
  top: 90px;
  right: 30px;
  height: 500px;
  text-align: right;
  font-size: 13px;
  overflow-y: auto;
}

#menu em {
  font-weight: bold;
  color: #888;
}

#menu li {
  list-style: none;
}

#menu ul {
  height: 0;
  overflow: hidden;
}

#menu ul.active {
  height: auto;
}

#menu > li > a {
  color: #353535;
  font-weight: bold;
  font-size: 15px;
}

#menu ul a {
  color: #555;
  padding-right: 7px;
}

#menu ul a.active {
  color: #00bbe6;
}

/* other missing CSS */

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 55px;
  z-index: 100;
  border-bottom: 1px solid #ddd;
}

.scroll header {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 4px #eee;
}

.button {
  display: block;
  padding: 3px 5px;
  /*border: 1px solid #ccc;
  border-radius: 3px;*/
  cursor: pointer;
  color: #555;
}

#mobile-menu {
  display: none;
  position: relative;
  top: 9px;
  left: 0;
}

#nav-button {
  position: absolute;
  left: 16px;
  top: 1.6px;
}

#social {
    display: flex;
    position: fixed;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    right: 0px;
    top: 0px;
    margin-top: 0px;
    margin-right: 20px;
    padding: 0px 1vw 10px 1vw;
    width: 100px;
    border-right: none;
}

#social a {
    margin-left: 10px;
    margin-top: 20px;
    display: block;
    color: #323232;
    font-size: 18.5px;
    letter-spacing: 0.5px;
    font-weight: 100;
}

@media all and (max-width: 900px) {
    .github-icon {
        display: none;
    }
    
    .stackoverflow-icon {
        display: none;
    }
    
    .slack-icon {
        display: inline;
        margin: 0;
        text-align: right;
        margin-right: -10px;
        width: 35px;
        height: 35px;
        padding-top: 0px;
        margin-top: 10px;
    }
    
    #social {
        margin-right: 0px;
        text-align: right;
        display: inline-block;
        margin-top: 0;
        padding: 0px 0px 0px 0px;
        margin-left: 0;
        padding-top: 0px;
    }
    
    #social a {
        margin-top: 5px;
        letter-spacing: 0px;
        margin-left: 10px;
        padding-top: 5px;
        display: inline;
    }
}

#logo {
    position: fixed;
    margin-top: 0px;
    margin-left: 20px;
    padding: 0px 30px 10px 20px;
    width: auto;
    border-left: none;
    background-image: url(../assets/smallApp@2x.png);
    background-position: calc(50% - 48px) calc(50% + 0px);
    background-size: 30px;
    background-repeat: no-repeat;
}

#logo a {
    display: table !important;
    margin-left: 30px;
    margin-top: 10px;
    color: #323232;
    font-size: 18.5px;
    letter-spacing: 0.5px;
    font-weight: 100;
}

#logo .kitura {
  font-weight: 100;
  display: block;
  font: 25px "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  color: #444;
}

@media all and (min-width: 900px) {
  #navmenu {
    display: block !important;
  }
}

@media all and (max-width: 899px) {

  .menu ul.dropit-submenu a {
    font-size: 16px !important;
  }

  #menu {
    display: none;
  }

  #logo {
    position: static;
    width: 100%;
    margin-left: -23px;
    padding-bottom: 0;
    background-position: calc(50% - 50px) calc(50% + 5px);
  }

  #logo a {
    display: table !important;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 20px;
  }

  #mobile-menu {
    display: block;
  }

  #home-menu {
    display: block;
    position: absolute;
    top: 7px;
  }

  #navbar {
    padding: 0;
  }

  #navbar a {
    font-weight: 300;
    margin: 0;
    padding-left: 5%;
  }

  #navmenu {
    left: 0;
    padding: 0;
    transform: translateY(-4px);
    background: #fff;
    width: 100%;
    display: none;
  }

  #navmenu > li {
    float: none;
    /*border-bottom: 1px solid #ccc !important;*/
    margin: 1px;
    /*min-height: 47px;*/
    position: relative;
    background: #eee;
    cursor: pointer;
	line-height: 34px;
  }

  #navmenu > li:hover {
    background: #e9e9e9;
  }

  #navmenu > li > ul {
    position: static;
  }

  .dropit .dropit-submenu {
    position: static !important;
  }

  .dropit {
    padding-top: 7px;
  }

  .menu ul.dropit-submenu {
    margin-top: 7px;
    background: #ddd;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
/*    max-height: 190px; */
    overflow-y: hidden;
    overflow-x: hidden;
  }
/*
  .menu ul.dropit-submenu a {
    padding: 5px 5px 5px 5%;
  }
*/
  .dropit-submenu li {
    border-top: 1px solid #cdcdcd;
  }

  .dropit-submenu a {
    padding-left: 10% !important;
  }

  /*.menu ul {
    display: block;
  }*/

  .active-mobile-menu {
    border-bottom: none !important;
  }

  .menu ul.dropit-submenu a:hover {
    background: #cccccc;
    color: #666 !important;
  }

}

.drop {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100%;
  color: #90b2bf;
  float       : left;
  font-size   : 3.26em;
  line-height : 0.5;
  margin      : 0.24em 0 0 0;
}
