/* general */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 15px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #555;
}

/*#intro h3 {
  font-weight: normal;
})*/

h1, h2, h3 {
  margin: 40px 0 0;
  color: #353535;
}

h1 {
  font-size: 2.6em;
  font-weight: 100;
  line-height: 60px;
  color: #152333;
}

h2 {
	font-size: 1.8em;
	font-weight: 400;
}

.content {
  line-height: 1.8em;
}

.content h1 {
  /*font-weight: normal;*/
  margin-bottom: 20px;
}

p em {
  font-weight: bold;
  color: #353535;
}

p {
  margin: 10px 0;
}

strong, th {
  color: #353535;
}

blockquote {
  background-color: rgba(0, 187, 230, 0.13);
  padding: 0.1px 30px;
  color: #152333;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

#announcements {
  margin: 3px 5%;
  max-width: 1005px;
  padding: 0 16px;
  background: #fdfae6;
  border: 1px solid #ebdbb7;
  border-radius: 3px;
  font-size: 0.9em;
}

#announcements ul {
  padding-left: 0;
}

#announcements li {
  list-style: none;
  margin-bottom: 16px;
}

#announcements p {
  margin: 6px 0;
}

#announcements time {
  font-weight: normal;
}

#announcements p:first-child {
  font-weight: bold;
  padding-left: 20px;
  background-image: url(/images/announcement-icon.png);
  background-position: 0 3px;
  background-repeat: no-repeat;
  background-size: 14px 14px;
}

#install-command {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  max-width: 375px;
}

.content {
    margin: 80px auto 7%;
    max-width: 900px;
    padding: 0px 5% 0px;
}

span.block-section {
  display: block;
}

li code {
  color: #333;
}

#intro h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

#api-doc section {
  padding-left: 20px;
}

#api-doc > h3 {
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 24px;
  color: #888;
}

#api-doc h2 {
  font-size: 29px;
  font-weight: normal;
  margin: 40px 0 20px;
}

#api-doc section h3 {
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}

#api-doc h4 {
  font-size: 16px;
  font-weight: bold;
}

#api-doc h5 {
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

/* Documentation content CSS - version 2 additions */

hr {
	height: 1px;
	padding: 0;
	margin: 30px 0 5px 0;
	background-color: rgb(240,240,240);
	border: 0;
}

.arrow {
	font-size: 2.5em;
	color: #00bbe6;
	margin-right: 5px;
	transform: translateY(8px);
	display: inline-block;
}

.titleBlock {
	border-bottom: 1px solid rgb(240,240,240);
	padding-bottom: 27px;
  margin-bottom: 15px;
}

.titleBlock h1 {
	text-align: center;
	font-weight: 100 !important;
  margin-bottom: 0px;
}

.titleBlock p {
	text-align: center;
	font-weight: 100 !important;
	font-size: 1.2em;
  margin-bottom: 0px;
}


/* links */

a {
  color: #259dff;
  text-decoration: none;
}

.h2:target {
  display: block;
  padding-top: 40px;
}

#api-doc h3:target, #api-doc h4:target {
  padding-top: 80px;
}

.outlined-img {
  border: 1px solid #eaeaea;
  width: 90%;
}

#description .kitura {
  display: block;
  font: 4.5em "Helvetica Neue", "Open Sans", sans-serif;
  font-weight: 100;
  color: #353535;
  margin-bottom: .25em;
}

#description {
  margin-bottom: 40px;
  -webkit-font-smoothing: antialiased;
}

#description .description {
  position: relative;
  top: -5px;
  font: 100 4.2em "Helvetica Neue", "Open Sans", sans-serif;
  color: #aeaeae;
  line-height: .75;
}

#description em {
  font-style: normal;
  font-weight: 100;
  font-size: 9px;
  color: #999;
  margin-left: 5px;
}

#conference {
  display: inline;
  float: right;
  margin-left: 10px;
}

#intro, #doc-langs {
  margin-left: 5%;
}

#doc-langs {
  font-size: 10px;
}

#sponsorship, #sponsorship a {
  color: #7DBD33;
}

#sponsorship h3 {
  color: #08592B;
}

/* code */

pre code {
  overflow: auto;
  white-space: pre !important;
}

p code, td code, li code {
  color: rgb(52, 57, 63);
  font-weight: 600;
  padding-left: 2px;
}

pre {
  color: #666;
  font-size: 14px;
  line-height: 1.4;
  padding: 16px;
  border-radius: 8px;
  background-color: rgb(240, 240, 240) !important;
  overflow: auto;
  white-space: pre-wrap;
  -webkit-box-shadow: 0px 2.5px 0px 0px rgba(195, 195, 195, 1);
  -moz-box-shadow: 0px 2.5px 0px 0px rgba(195, 195, 195, 1);
  box-shadow: 0px 2.5px 0px 0px rgba(195, 195, 195, 1);
  margin-top: 14px !important;
}

/* top button */

.scroll #top {
  opacity: .2;
}

#top {
  line-height: 0;
  background: black;
  -webkit-border-radius: 2px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 8px;
  text-decoration: none;
  color: white;
  opacity: 0;
  -webkit-transition: opacity 300ms;
}

#top:hover {
  opacity: 1;
}

#top img {
  width: 8px;
  height: 5px;
}

/* clearfix */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

/* boxes */

#boxes {
  margin-top: 30px;
}

#boxes h3 {
  line-height: 1.25em;
}

#boxes div {
  width: 215px;
  margin-right: 50px;
  float: left;
  list-style: none;
  padding-bottom: 20px;
}

#boxes div:last-child {
  margin-right: 0;
}


#boxes h3 {
  background: none;
  margin-top: 0;
  padding-top: 0;
}

#boxes section p {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* applications page */

#applications .section {
  display: block;
  margin-bottom: 50px;
}

.application h2 {
  margin: 0;
}

.application {
  padding: 80px 0;
  height: 600px;
  position: relative;
}

.application p {
  float: left;
  width: 30%;
}

.application img {
  float: right;
}

.application .link {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.application .link a {
  margin-left: 4px;
}


/* doc specific */

.doctable, section table {
  margin: 1em 1em 1em 0;
  border: 1px solid #c6c6c6;
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
}

.doctable td, .doctable th, section table td, section table th {
  padding: 7px;
  line-height: 120%;
  vertical-align: top;
  border: 1px solid #c6c6c6;
}

.doctable tr th, section table tr th {
  background-color: #dadada;
  font-size: 110%;
}

.doctable td p:first-child {
  margin-top: 0;
}

.doctable td p, li p {
  width: 100% !important;
}

.doctable ul {
  margin: 20px 0
}

/* doc boxes */

.doc-box {
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
  border-radius: 3px;
  margin: 20px 3% 20px 3%;
}

.doc-box pre {
  font-size: 12px;
  line-height: 14px;
  padding: 0;
  margin: 0;
}

.doc-box p {
  margin: 0 0 8px 0;
}

.doc-box p:last-child {
  margin: 0;
}

.doc-box pre[class*="language-"] {
  background: none repeat scroll 0 0 #fff;
}

.doc-notice {
  background: #faf6e8;
  border: 1px solid #ded8c1;
}

.doc-info {
  background: #f7faec;
  border: 1px solid #dfe2d3;
}

.doc-warn {
  background: #f9f1f1;
  border: 1px solid #e2d3d3;
}

#i18n-notice-box {
  margin-top: 100px;
  position: relative;
}

#close-i18n-notice-box {
  position: absolute;
  top: 3px;
  right: 4px;
  color: #550000;
  cursor: pointer;
}

/* general */

#app-settings-property {
  width: 200px;
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {

  #sponsor {
    background-image: url(/images/strongloop-logo@2x.png);
  }

  #fork {
    background-image: url(/images/fork-icon@2x.png);
  }

  #announcements p:first-child {
    background-image: url(/images/announcement-icon@2x.png);
  }

}

/* hash link scroll buffer */
h2 a:before {
  display: block;
  content: ' ';
  margin-top: -40px;
  height: 40px;
  visibility: hidden;
}

h2 a {
  color: #353535 !important;
}


/* responsive */

@media all and (max-width: 899px) {

  body {
    font: 400 12.5px "Open Sans", sans-serif;
  }

  #conference a img {
    width: 150px;
    margin-right: 10px;
  }

  .table-scroller {
    width: 100%;
    overflow: scroll;
  }

  #api-doc section {
    padding-left: 0;
  }

  #logo {
	margin-left: 11px !important;
  }

  ul {
    padding-left: 5%;
  }

  h1 {
    font-size: 28px;
    line-height: 26px;
  }

  h2 {
    font-size: 1.8em;
    line-height: 25px;
  }

  h3 {
    font-size: 16px;
    line-height: 23px;
  }

  h4 {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
  }

  #description {
    margin-top: 35px;
	margin-bottom: 35px;
  }

  #description .kitura {
    display: none;
  }

  #description .description {
    font-size: 2em;
    line-height: .9em;
  }

  #install-command {
    width: 100%;
    margin-right: 5%;
  }

  #boxes div {
    width: 90%;
  }

  h2 {
    margin: 35px 0px 5px 0px;
  }

  hr {
    margin: 30px 0 5px 0;
  }

  .titleBlock {
    margin-bottom: 25px;
  }

  .content {
    margin: 80px auto 7%;
    max-width: 700px;
  }
}

@media all and (max-width: 500px) {
  h2 {
    margin: 25px 0px 5px 0px;
  }

  hr {
    margin: 15px 0 5px 0;
  }
  .titleBlock {
    margin-bottom: 15px;
    padding-bottom: 10px;
  }

  .content {
    margin: 80px auto 7%;
  }
}

@media all and (max-width: 420px) {

  #conference {
    display:none;
  }

  #app-settings-property {
    width: auto;
  }

  #description .kitura {
    display: none;
  }

@media all and (max-width: 320px) {

  #install-command {
    font-size: 12px;
  }

}

/* For image callouts in writing-middleware.md */

.callout {position: relative;}

#callout1 {top: 60px; }

#callout2 {top: 70px;}

#callout3 {top: 80px;}

#callout4 {top: 155px;}

#callout5 {top: 165px;}

#callout6 {top: 190px;}
