@import 'shared';
@import 'media';

/* sidebar-styling */
.docs-sidebar {
  background-color: $light-grey-color;
  box-shadow: 1px 0 1px $shadow-grey;
  position: fixed;
  width: 25%;

  @include breakpoint('m') {
    z-index: 1000;
    width: 100%;
    display: none;
  }
}

// .docs-window {
//
//   @include breakpoint('m') {
//     display: none;
//   }
// }

.docs-window {
  max-width: 100%;
}

.docs-title {
  /* Main font-size, margin top and bottom, font weight, large font-size, medium font-size and small font-size */
  @include sidebar-item('2.8vw', '2.7rem', 'bold', '3vw', '8vw', '10vw');
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 0;
}

.sidebar-list {
  margin-left: 6rem;
  min-height: 100vh;

  @include breakpoint('l') {
    margin-left: 4rem;
  }

  @include breakpoint('m') {
    text-align: center;
    margin-left: 0;
  }
}

.sidebar-item {
  /* Main font-size, margin top and bottom, font weight, large font-size, medium font-size and small font-size */
  @include sidebar-item('1.2vw', '1rem', '600', '1.7vw', '3vw', '5vw');
  display: inline-block;

  &:first-of-type {
    margin-top: 3rem;
  }

  &:hover {
    color: $blue-color;
    font-weight: 800;
  }
}

.nested-sidebar-item {
  /* Main font-size, margin top and bottom, font weight, large font-size, medium font-size and small font-size */
  @include sidebar-item('0.9vw', '0', '500', '1.4vw', '2vw', '4vw');
  display: table;
  padding: 1rem 0;
  margin-left: 1rem;

  @include breakpoint('m') {
    margin: 0 auto;
  }

  a {
    color: $primary-font-color;
  }

  a:hover {
    color: $blue-color;
    font-weight: 800;
  }
}

.active a {
  color: $blue-color;
  font-weight: 800;
}

/* Search bar styling */

.search-container {
  height: 5.1rem;
  border-right: 1px solid rgba(234, 232, 232, 0.42);
  border-bottom: 1px solid rgba(234, 232, 232, 0.42);
}

.docs-nav {
  height: 5.1rem;
  border-bottom: 1px solid rgba(234, 232, 232, 0.42);

  @include flex-center;
}

/* Docs nav bar styling */

.apiref-button {
  @include button;
}

.nav-item {
  font-size: 1.1vw;
  margin-right: 1.5rem;
  color: $blue-color;
  cursor: pointer;

  @include breakpoint('xl') {
    font-size: 1vw;
  }

  @include breakpoint('sm') {
    font-size: 2.8vw;
  }
}

.temp-beta {
  width: 100%;
  height: 100%;
  color: #676767;
  opacity: 0.5;

  @include flex-center;
}

/* Generic styling */

/* Styling for the underlines for docs title and seperating sections in the docs. */
body {
  max-width: 100vw;
}
.underline-title {
  height: 1px;
  background: $underline-color;
  width: 18vw;
  margin: 0 auto;
  opacity: 0.21;

  @include breakpoint('m') {
    display: none;
  }
}

.top-page {
  position: fixed;
  bottom: 20px;
  right: 20px;

  a {
    color: white;
    font-size: 1.2vw;
    padding: 0.5rem 0;

    @include breakpoint('sm') {
      font-size: 2.2vw;
      vertical-align:middle;
    }
  }

  @include breakpoint('sm') {
    bottom: 5rem;
    right: 0;
    transform: rotate(270deg);
    background: $blue-color;
    border-radius: 0.55rem;
    padding: 0.2rem 0.3rem 0.3rem 0.3rem;
  }
}

.burger-icon {
  opacity: 0;
  position: absolute;
  top: 0.1rem;
  padding: 1rem;
  z-index: 9999;
  display: block;

  @include breakpoint('sm') {
    opacity: 1;
  }
}

.burger-line {
  height: 0.2rem;
  width: 2rem;
  background-color: #676767;
  margin: 0.3rem 0;
}

/* Class used to animate nested sidebar-items in when side bar item selected */
.content {
  transition: max-height 0.2s ease-out;
  max-height: 0;
  overflow: hidden;
}

/* learn.html grid layout */
.docs-grid-container {
  @include display-grid;
}

.docs-item-1 {
  @include grid-child(1, 4, 1, 4);

  @include breakpoint('m') {
    @include grid-child(1, 13, 1, 4);
  }
}

.docs-item-2 {
  @include grid-child(4, 8, 1, 1);

  @include breakpoint('m') {
    @include grid-child(1, 13, 1, 1);
  }
}

.docs-item-3 {
  @include grid-child(8, 13, 1, 1);

  @include breakpoint('m') {
    @include grid-child(1, 13, 2, 2);
  }
}

.docs-item-4 {
  @include grid-child(4, 13, 2, 4);

  @include breakpoint('m') {
    @include grid-child(1, 13, 3, 4);
  }
}
