@mixin breakpoint($class) {
  @if $class == 'xl' {
    @media (min-width: 1800px) {
      @content;
    }
  }

  @if $class == 'l' {
    @media (max-width: 1150px) {
      @content;
    }
  }

  @if $class == 'm' {
    @media (max-width: 940px) {
      @content;
    }
  }

  @if $class == 'sm' {
    @media (max-width: 600px) {
      @content;
    }
  }

  @if $class == 'xs' {
    @media (max-width: 420px) {
      @content;
    }
  }
}
