$font-stack: IBM Plex Sans, sans-serif;
$primary-font-color: #676767;
$blue-color: #0780B5;
$light-grey-color: #FAF8F8;
$underline-color: #C7C7C7;
$shadow-grey: #DEDEDE;
$code-block: #F4F2F2;

body {
  font-family: $font-stack;
  color: $primary-font-color;
}

.blue-text {
  color: $blue-color;
}

@mixin display-flex-col {
  display: flex;
  flex-direction: column;
}

@mixin display-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: auto;
}

@mixin grid-child ($col-start, $col-end, $row-start, $row-end) {
  grid-column: #{$col-start}/#{$col-end};
  grid-row: #{$row-start}/#{$row-end};
}

@mixin button {
  height: 3vw;
  width: 10vw;
  background: $blue-color;
  color: white;
  border-radius: 0.55rem;
  border: none;
  box-shadow: 1px 2px 2px $shadow-grey;
  font-size: 1.2vw;
  font-weight: 600;
  margin-right: 1.5rem;
  cursor: pointer;

  @include breakpoint('sm') {
    font-size: 2vw;
    height: 7vw;
    width: 17vw;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin sidebar-item($main-font-size, $margin, $weight, $large-font-size, $medium-font-size) {
  font-size: #{$main-font-size};
  margin-top: #{$margin};
  margin-bottom: #{$margin};
  font-weight: #{$weight};

  @include breakpoint('l') {
    font-size: #{$large-font-size};
  }

  @include breakpoint('m') {
    text-align: center;
    font-size: #{$medium-font-size};
  }

  &:hover {
    cursor: pointer;
  }
}

@mixin heading($font-size, $margin-top, $margin-bottom) {
  font-size: #{$font-size};
  font-weight: bold;
  margin-top: #{$margin-top};
  margin-bottom: #{$margin-bottom};
}
