@import 'shared';
@import 'media';
@import 'learn';

/* Code Syntax Highlighting colors */
$string: rgb(250, 69, 75);
$function: #00a78f;
$instance: #00a78f;
$keyword: rgb(246, 59, 176);
$comment: green;

/* General docs styling */

.heading-1 {
  
  @include heading('3.3vw', '2.5rem', '2rem');

  @include breakpoint('xl') {
    @include heading('2.6vw', '2.5rem', '2rem');
  }

  @include breakpoint('sm') {
    @include heading('6vw', '2.5rem', '2rem');
  }
}

.heading-2 {
  @include heading('2.6vw', '1.8rem', '1.8rem');

  @include breakpoint('xl') {
    @include heading('1.9vw', '1.8rem', '1.8rem');
  }

  @include breakpoint('sm') {
    @include heading('5.2vw', '1.8rem', '1.8rem');
  }
}

.heading-3 {
  @include heading('1.9vw', '1.6rem', '1.6rem');

  @include breakpoint('xl') {
    @include heading('1.5vw', '1.6rem', '1.6rem');
  }

  @include breakpoint('l') {
    @include heading('1.6vw', '1.6rem', '1.6rem');
  }

  @include breakpoint('sm') {
    @include heading('4.8vw', '1.6rem', '1.6rem');
  }
}

.heading-4 {
  @include heading('1.1rem', '1.4rem', '1.4rem');



  @include breakpoint('sm') {
    @include heading('4.4vw', '1.4rem', '1.4rem');
  }
}

.copy-label {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background: $blue-color;
  border-radius: 0.55rem;
  padding: 0.2rem 0.5rem;
}

.tab {
  overflow: hidden;
  background-color: white;
  width: 100%;
  margin-top: 2rem;

  button {
    border: none;
    outline: none;
    cursor: pointer;
    width: 15vw;
    height: 3rem;
    transition: 0.3s;
    font-size: 1.8vw;
    font-weight: bold;
    color: #676767;
    border: 1px solid rgba(103, 103, 103, 0.1);
    border-bottom: none;
    border-top-left-radius: 0.55rem;
    border-top-right-radius: 0.55rem;

    &:hover {
      background-color: #0780B5;
      color: white;
    }
  }

  button.active {
    background-color: #0780B5;
    color: white;
  }
}

.tab-buttons {
  display: flex;
  justify-content: center;
}

.tabcontent {
  margin-top: -0.1rem;
  display: none;
  border: 1px solid rgba(103, 103, 103, 0.1);
  padding-left: 0.5rem;
  border-radius: 0.55rem;
}

main {
  padding: 0 4rem 3rem 4rem;
  max-width: 80vw;

  @include breakpoint('sm') {
    padding: 1rem 1rem;
    min-width: 90vw;
  }

  p {
    margin: 1rem 0;
    line-height: 1.6rem;

    @include breakpoint('xl') {
      font-size: 1.2vw;
    }

    @include breakpoint('l') {
      font-size: 1.5vw;
    }

    @include breakpoint('sm') {
      font-size: 4vw;
      margin: 0.4rem 0;
    }
  }

  a {
    color: $blue-color;
  }
}

ol, ul {
  li {
    margin-bottom: 1rem;
    font-size: 1.6vw;

    @include breakpoint('xl') {
      font-size: 1.2vw;
    }

    @include breakpoint('sm') {
      font-size: 4vw;
    }
  }
}

.underline {
  height: 1px;
  background: $underline-color;
  width: 90%;
  margin: 2rem auto;
  opacity: 0.21;
}

.info {
  background-color: rgba(7, 128, 181, 0.15);
  padding: 0.8rem 2rem 0.1rem 1rem;
  border-left: solid 3px #0780B5;
  font-size: 0.8rem;
  width: 70%;
  line-height: 1.2rem;
  margin-bottom: 2rem;

  p {
    margin-bottom: 1.8rem;
  }

  @include breakpoint('sm') {
    width: 85%;
  }
}

pre {
  position: relative;
  height: auto;
  background: $code-block;
  margin-bottom: 1.5rem;
  border-radius: 0.55rem;
  box-shadow: 1px 2px 2px $shadow-grey;
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 2rem;
  font-family: courier;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: pointer;

  code {
    font-size: 1.3vw;

    @include breakpoint('xl') {
      font-size: 1vw;
    }

    @include breakpoint('sm') {
      font-size: 3.6vw;
    }
  }

  &:hover:before {
    content: 'Double click to copy.';
    position: absolute;
    opacity: 0;

    transition: all 0.15s ease;
    border-radius: 10px;
  }

  &:hover:before {
    /* needed - do not touch */
    opacity: 1;

    /* customizable */
    right: 0;
    top: 0;
  }
}

table {
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 90%;
}
thead {
  background-color: rgba(7, 128, 181, 0.3);
  height: 10rem;
}

th {
  padding: 1rem 0;
  font-weight: bold;
}

td:first-child {
  color: #0780B5;
  font-weight: 600;
}

td {
  padding: 0.6rem 0.2rem;
}

td, th {
  border: 1px solid grey;
}

.img-container {

  img {
    width: 80%;
  }
}

.example-image {
  width: 80%;
}

.macos-download-button {
  @include button;
}

/* Landing page styling */
.landing-heading, .server-heading {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 6rem;

  h1 {
    font-size: 4vw;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2.5vw;
    margin-bottom: 0;
  }

  p {
    line-height: 1.4rem;
    font-size: 1.5vw;
    padding: 0 1rem;
  }
}

.tutorial, .option {
  text-align: center;
  padding: 1rem;

  h3 {
    color: $blue-color;
    font-size: 1.6vw;
    font-weight: bold;
    margin-bottom: 1rem;

    @include breakpoint('l') {
      font-size: 1.7vw;
    }
  }

  p {
    color: $primary-font-color;
    line-height: 1.4rem;
    font-size: 1.3vw;
  }
}

.server-heading {
  h1 {
    margin-bottom: 1rem;
  }
}

.landing-img, .option-img {
  @include flex-center;
  img {
    width: 50%;
  }
}

/* Landing page grid layout */
.landing-grid-container, .server-grid-container {
  @include display-grid;
}

.landing-item-1, .server-item-1 {
  @include grid-child(1, 13, 1, 2);
}

.landing-item-2, .server-item-3 {
  @include grid-child(1, 5, 3, 4);
}

.landing-item-3, .server-item-2 {
  @include grid-child(5, 9, 2, 3);
}

.landing-item-4, .server-item-4 {
  @include grid-child(9, 13, 3, 4);
}

.landing-item-5, .server-item-5 {
  @include grid-child(1, 5, 2, 3);
}

.landing-item-6, .server-item-6 {
  @include grid-child(5, 9, 3, 4);
}

.landing-item-7, .server-item-7 {
  @include grid-child(9, 13, 2, 3);
}

/* Style code blocks - classes assigned by prism.js  */
.string {
  color: $string;
}

.function {
  color: $function;
}

.instance {
  color: $instance;
}

.keyword {
  color: $keyword;
}

.comment {
  color: $comment;
}
