<html lang="en">

<head>
  <title>Learn - Templating with Kitura</title>
  <link rel="icon" type="image/png" href="../../assets/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="../../assets/favicon-16x16.png" sizes="16x16" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/main.css">
  <link rel="stylesheet" href="../../css/guides.css">
  <link rel="stylesheet" media="screen and (max-width: 900px)" href="../../css/mobile_guides.css">
</head>

<header>
  <div class="header-container">
    <div class="header-main">
      <a class="home-link" href="../../index.html">
        <img class="header-logo" src="../../assets/kitura-logo.png" alt="Kitura logo">
        <h1 class="header-title">KITURA</h1>
      </a>
    </div>
    <nav class="header-nav">
      <a class="header-link active-nav" href="../../learn.html">LEARN</a>
      <a class="header-link" href="../../packages.html">CONTRIBUTE</a>
      <a class="header-link" href="../../events.html">MEET</a>
      <a class="header-link" href="../../help.html">SUPPORT</a>
    </nav>
  </div>
</header>
<body>
  <section class="guide-content">
    <div class="title-block">
        <img width="480px" src="../../assets/Kitura.svg" alt="Kitura Logo">
      <h1>USING TEMPLATE ENGINES WITH KITURA</h1>
    </div>
    <h2>Why use a template engine in your application?</h2>
    <p class="sentence">A template engine allows rendering of documents using static templates. At runtime, template variables are substituted with actual values to generate an HTML file. This means that you have clear separation between your template and data. You can also generate multiple web pages dynamically with a single template!</p>
    <h2>Kitura template engines</h2>
    <p class="sentence">Kitura template engines are classes that implement the <span class="highlight">TemplateEngine</span> protocol from the Kitura-TemplateEngine package. Kitura currently supports three template engines, with Stencil being the most commonly used:</p>
    <ul>
      <li>Kitura-StencilTemplateEngine.</li>
      <li>Kitura-MustacheTemplateEngine.</li>
      <li>Kitura-Markdown.</li>
    </ul>
    <p class="sentence">You can provide your own Kitura template engine by implementing the <span class="highlight">TemplateEngine</span> protocol from Kitura-TemplateEngine package.</p>
    <h2>Setting up</h2>
    <p class="sentence">See Getting Started for instructions on how to install Kitura’s command-line interface.</p>
    <p class="sentence">To use the template engines we first need to setup a Kitura server. Open a terminal and run the following:</p>
    <p class="sentence">1. Create a directory</p>
    <code>mkdir ~/KituraTemplateExample</code>
    <p class="sentence">2. Change to the new directory</p>
    <code>cd ~/KituraTemplateExample</code>
    <p class="sentence">3. Create a Kitura server</p>
    <code>kitura init</code>
    <p class="sentence"><span class="highlight">kitura init</span> downloads, creates and builds a starter Kitura application and will take a couple of minutes to complete. This includes best-practice implementations of health checking and monitoring as well as configuration files to allow easily deployment to a Docker container, a Kubernetes cluster, or the IBM Cloud.</p>
    <h2>Adding a template engine to your Kitura app</h2>
    <p class="sentence">Kitura is a lightweight, modular framework — by default you get basic HTTP functionality, like routing, parameter handling, parsing request body, etc. You can augment Kitura’s out-of-the-box functionality by adding additional packages using the Swift Package Manager, or SPM for short. The <span class="highlight">kitura init</span> command we ran earlier created us a <span class="highlight">Package.swift</span> file and added some of these packages for us already, we need to add two more. The two packages we’d like to add are the template engines we’d like to use:</p>
    <p class="sentence">Kitura-StencilTemplateEngine:</p>
    <code>.package(url: "https://github.com/IBM-Swift/Kitura-StencilTemplateEngine.git", .upToNextMajor(from: "1.0.0"))</code>
    <p class="sentence">Kitura-MustacheTemplateEngine:</p>
    <code>.package(url: "https://github.com/IBM-Swift/Kitura-MustacheTemplateEngine.git", .upToNextMajor(from: "1.0.0"))</code>
    <h3>Adding the template engine packages</h3>
    <p class="sentence">We’re going to add both template engines to our Kitura app, to do this we need to add the packages to our Package.swift file (this was also generated by kitura init). In your terminal run the following:</p>
    <p class="sentence">1. Open the Package.swift file</p>
    <code>.package(url: "https://github.com/IBM-Swift/Health.git", from: "0.0.0"),</code>
    <p class="sentence">2. Add the following:</p>
    <code>.package(url: "https://github.com/IBM-Swift/Kitura-MustacheTemplateEngine.git", .upToNextMajor(from: "1.0.0")), <br>
.package(url: "https://github.com/IBM-Swift/Kitura-StencilTemplateEngine.git", .upToNextMajor(from: "1.0.0")),</code>
    <p class="sentence">3. Add the template engines to the correct target. At the end of the line:</p>
    <code>.target(name: "Application", dependencies: [ "Kitura", "Configuration", "CloudEnvironment","SwiftMetrics","Health"])</code>
    <p class="sentence">Add "KituraStencil", "KituraMustache"</p>
    <p class="sentence">The result should look like this:</p>
    <code>.target(name: "Application", dependencies: [ "Kitura", "Configuration", "CloudEnvironment","SwiftMetrics","Health", "KituraStencil", "KituraMustache"]),</code>
    <p class="sentence">After those changes our Package.swift should look like this:</p>
    <code>
      <pre>
// swift-tools-version:4.0
import PackageDescription

let package = Package(
    name: "KituraTemplateExample",
    dependencies: [
        .package(url: "https://github.com/IBM-Swift/Kitura.git", .upToNextMinor(from: "2.2.0")),
        .package(url: "https://github.com/IBM-Swift/HeliumLogger.git", .upToNextMinor(from: "1.7.1")),
        .package(url: "https://github.com/IBM-Swift/CloudEnvironment.git", .upToNextMinor(from: "6.0.0")),
        .package(url: "https://github.com/RuntimeTools/SwiftMetrics.git", from: "2.0.0"),
        .package(url: "https://github.com/IBM-Swift/Health.git", from: "0.0.0"),
        .package(url: "https://github.com/IBM-Swift/Kitura-MustacheTemplateEngine.git", from: "1.0.0"),
        .package(url: "https://github.com/IBM-Swift/Kitura-StencilTemplateEngine.git", from: "1.0.0"),
	],
	targets: [
      	    .target(name: "KituraTemplateExample", dependencies: [ .target(name: "Application"), "Kitura" , "HeliumLogger"]),
      	    .target(name: "Application", dependencies: [ "Kitura", "CloudEnvironment","SwiftMetrics","Health", "KituraStencil", "KituraMustache"]),

      	    .testTarget(name: "ApplicationTests" , dependencies: [.target(name: "Application"), "Kitura","HeliumLogger" ])
        ]
)</pre></code>
<h2>Adding your template files to your Kitura app</h2>
<h3>What are template files?</h3>
    <p class="sentence">Template files are text files that follow the syntax of a template engine. Here is an example of a Mustache template, taken from GRMustache.swift and a Stencil template, taken from Stencil.</p>
    <p class="sentence">Mustache Example:</p>
    <code><pre>
Hello {{name}}
Your beard trimmer will arrive on {{format(date)}}.
{{#late}}
Well, on {{format(realDate)}} because of a Martian attack.
{{/late}}</pre></code>
    <p class="sentence">Stencil Example:</p>
    <code><pre>
There are {{ articles.count }} articles.

{% for article in articles %}
  - {{ article.title }} by {{ article.author }}.
{% endfor %}</pre>
    </code>
    <h3>Where do template files go?</h3>
    <p class="sentence">By default template engines look in a ./Views directory for the template files to use so we need to add this directory to our project. In a terminal window run the following:</p>
    <code>mkdir ~/KituraTemplateExample/Views</code>
    <h3>Adding the template files</h3>
    <p class="sentence">We’ve added two new packages and a new directory to our project but if you open the KituraTemplateExample.xcodeproj that was generated by kitura init none of our additions will be visible within Xcode. To solve this we need to generate a new Xcode project so it will be aware of all we’ve added. Open a terminal and run the following:</p>
    <p class="sentence">1. Ensure you’re in the correct directory </p>
    <code>cd ~/KituraTemplateExample</code>
    <p class="sentence">2. Generate new Xcode project</p>
    <code>swift package generate-xcodeproj</code>
    <p class="sentence">3. Once the command has finished executing open the new project</p>
    <code>open KituraTemplateExample.xcodeproj</code>
    <p class="sentence">Now we need to add our template files:</p>
    <p class="sentence">1. In Xcode right-click on the Views folder and select New File</p>
    <p class="sentence">2. Click on the new file (called File by default) and change the name to StencilExample.stencil</p>
    <p class="sentence">3. Add the following into the StencilExample.stencil file:</p>
    <code>
      <pre>
There are {{ articles.count }} articles.

{% for article in articles %}
  - {{ article.title }} by {{ article.author }}.
{% endfor %}</pre>
    </code>
    <p class="sentence">4. Create another new file in Views and change the name to: MustacheExample.mustache</p>
    <p class="sentence">5. Add the following into the MustacheExample.mustache file:</p>
    <code>
      <pre>
Hello {{name}}
Your beard trimmer will arrive on {{format(date)}}.
{{#late}}
Well, on {{format(realDate)}} because of a Martian attack.
{{/late}}</pre>
    </code>
    <h2>Registering a template engine with a Router instance</h2>
    <p class="sentence">We now have everything in place to start writing the code for our implementation of the template engines!</p>
    <p class="sentence">In Xcode open the Application.swift file found in Sources/Application/</p>
    <p class="sentence">The first step we do to do is import our packages so we can make use of the API they provide. Below the line:</p>
    <code>import Health</code>
    <p class="sentence">Add the following:</p>
    <code>import KituraMustache <br>
import KituraStencil</code>
    <p class="sentence">This will now allow us to use both of the template engines within our code.</p>
    <p class="sentence">To use the template engine, you must register it with a Router instance. This is done by calling the Router.add(templateEngine:) function, e.g.:</p>
    <p class="sentence">In the postInit() function below the line:</p>
    <code>initializeHealthRoutes(app: self)</code>
    <p class="sentence">Add the following:</p>
    <code>router.add(templateEngine: MustacheTemplateEngine()) <br>
router.add(templateEngine: StencilTemplateEngine())</code>
    <p class="sentence">We have now registered both of our template engines with a router.</p>
    <h2>Rendering a template</h2>
    <p class="sentence">We can render a template by calling the response.render(_:context) function, where context is the information the template engine will use to fill out the corresponding template files.</p>
    <p class="sentence">We will start with rendering the Stencil template. Below the line:</p>
    <code>router.add(templateEngine: StencilTemplateEngine())</code>
    <p class="sentence">add the following:</p>
    <code>
      <pre>
// Handle HTTP GET requests to Stencil
router.get("/articles") { request, response, next in

    // The example from https://github.com/kylef/Stencil/blob/master/README.md
    let context = [
       "articles": [
         ["title": "Migrating from OCUnit to XCTest", "author": "Kyle Fuller"],
         ["title": "Memory Management with ARC", "author": "Kyle Fuller" ]
       ]
    ]

    try response.render("StencilExample.stencil", context: context)
    next()
}</pre>
    </code>
    <p class="sentence">So lets break down what we’re doing here; First we’ve registered a GET end point which will call a block of code (a closure) when a GET request is made to the server:</p>
    <code>router.get("/articles") { request, response, next in ... }</code>
    <p class="sentence">Then we create a context value, which is an array of dictionaries. The point to notice here is that the key for the context dictionary, i.e. the "articles" value matches the same value in our StencilExample.template:</p>
    <code>
      <pre>
There are {{ articles.count }} articles.

{% for article in articles %}
  - {{ article.title }} by {{ article.author }}.
{% endfor %}</pre>
    </code>
    <p class="sentence">This is a requirement, the key for this dictionary HAS to match the corresponding value in your Stencil template file. This is how the template engine knows where to render the information we provide.</p>
    <p class="sentence">We then call the render function, providing the name of the template file we want to use, "StencilExample.stencil"in this case, and the context. The render function will then use the context to fill out the template file and serve it to a specified URL, in our case this is: https://localhost:8080</p>
    <p class="sentence">Our postInit() function should look like this now:</p>
    <code>
      <pre>
func postInit() throws {
	// Endpoints
	initializeHealthRoutes(app: self)
	router.add(templateEngine: MustacheTemplateEngine())
	router.add(templateEngine: StencilTemplateEngine())

	router.get("/articles") { request, response, next in

	    let context = [
		"articles": [
		    ["title": "Migrating from OCUnit to XCTest", "author": "Kyle Fuller"],
		    ["title": "Memory Management with ARC", "author": "Kyle Fuller" ]
		]
	    ]

	    try response.render("StencilExample.stencil", context: context)
	    next()
	}
}</pre>
    </code>
    <p class="sentence">So now we’re ready to see if our implementation of the Stencil template engine works, first we need to start our server. In Xcode we can just use the shortcut cmd + R.</p>
    <p class="sentence">Allow the project to accept incoming network connections if prompted.</p>
    <p class="sentence">Then open:</p>
    <p class="sentence">http://localhost:8080/articles</p>
    <p class="sentence">and we should see this:</p>
    <code>
      <pre>
There are 2 articles.


  - Migrating from OCUnit to XCTest by Kyle Fuller.

  - Memory Management with ARC by Kyle Fuller.
      </pre>
    </code>
    <p class="sentence">Next we will render the Mustache template, and we can do so along side our current Stencil implementation. Kitura allows multiple different template engines to be used along side each other.</p>
    <p class="sentence">First stop the current build running, in Xcode you can do this using the cmd + . shortcut. Next, below the previous router.get("delivery") {...} block add the following:</p>
    <code>
      <pre>
// Handle HTTP GET requests to GRMustache/
router.get("/delivery") { request, response, next in

    // The example from https://github.com/groue/GRMustache.swift/blob/master/README.md
    var context: [String: Any] = [
        "name": "Arthur",
        "date": Date(),
        "realDate": Date().addingTimeInterval(60*60*24*3),
        "late": true
    ]

    // Let template format dates with ``
    let dateFormatter = DateFormatter()
    dateFormatter.dateStyle = .medium
    context["format"] = dateFormatter

    try response.render("MustacheExample.mustache", context: context)
    next()
}</pre>
    </code>
    <p class="sentence">So again lets break down what we’re doing here; we’ve set up another GET end point this time on the "/delivery" route. Just like in the Stencil example we create a context value, however this time we need to specify a type of [String: Any] because we’re using multiple different types here. We can do this because the template engine is expecting a type of [String: Any] to be passed through. In our Stencil example the type of context was [String: [String: String]], so the [String: String] would be the Any part here. The context contains values for Mustache’s tags name, date, realDate, late and for GRMustache.swift’s filter format</p>
    <p class="sentence">Our postInit() function should now look like this:</p>
    <code>
      <pre>
func postInit() throws {
// Endpoints
initializeHealthRoutes(app: self)
router.add(templateEngine: MustacheTemplateEngine())
router.add(templateEngine: StencilTemplateEngine())

	router.get("/articles") { request, response, next in

            let context = [
                "articles": [
                    ["title": "Migrating from OCUnit to XCTest", "author": "Kyle Fuller"],
                    ["title": "Memory Management with ARC", "author": "Kyle Fuller" ]
                ]
            ]

            try response.render("StencilExample.stencil", context: context)
            next()
        }

    router.get("/delivery") { request, response, next in

        var context: [String: Any] = [
            "name": "Arthur",
            "date": Date(),
            "realDate": Date().addingTimeInterval(60*60*24*3),
            "late": true
        ]

        let dateFormatter = DateFormatter()
        dateFormatter.dateStyle = .medium
        context["format"] = dateFormatter

        try response.render("MustacheExample.mustache", context: context)
        next()
    }

}</pre>
    </code>
    <p class="sentence">Now if you run the project again using cmd + R and open</p>
    <p class="sentence">http://localhost:8080/delivery</p>
    <p class="sentence">You should now see the following:</p>
    <code>
      <pre>
> Hello Arthur
>
Your beard trimmer will arrive on Sep 8, 2016.
>
Well, on Sep 19, 2016 because of a Martian attack.
      </pre>
    </code>
    <p class="sentence">Now we’ve implemented two different template engines which can work side by side!</p>

    <h3>Additional Resources</h3>
    <p class="sentence">If you’d like to see a Stencil template engine in use in an iOS app checkout our FoodTrackerBackend tutorial!</p>
  </section>
  <section class="slack-help">
    <a href="http://slack.kitura.io/">
      <img width="80px" src="../../assets/slack-icon.png" alt="Slack icon">
      <h2>NEED HELP?</h2>
      <h2>MESSAGE US ON SLACK.</h2>
    </a>
  </section>
</body>
<footer>

  <nav class="footer-nav">
    <a class="footer-link" href="https://forums.swift.org/c/related-projects/kitura">FORUMS</a>
    <a class="footer-link" href="https://github.com/IBM-Swift/Kitura"><img class="footer-logo" src="../../assets/Kitura-White.svg" alt="Kitura logo"></a>
    <a class="footer-link" href="https://developer.ibm.com/swift/blogs/">BLOGS</a>
  </nav>
</footer>
</html>
