      <footer>
        <nav class="nav-footer">
      <ul class="links">
        <li>© Copyright IBM Corporation 2016. All Rights Reserved.</li>
        <li><ul class="more-links">
          <li class="link"><a href="https://github.com/IBM-Swift/Kitura/blob/master/LICENSE.txt">License</a></li>
        <li class="link"><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>
        </ul>
        
        <li class="swift-link link"><a href="https://developer.ibm.com/swift/">Swift@IBM</a></li>

      </ul>
    </nav>
      </footer>
