language: node_js
before_script:
  - npm install -g gatsby-cli
node_js:
  - "10"
deploy:
  provider: script
  # Note: change "website" to the directory where your gatsby-site lives, if necessary
  script: cd website/ && yarn install && yarn run deploy
  skip_cleanup: true
  on:
    branch: master
