html {
    background: linear-gradient(#00bbe6, #0086a5) no-repeat center fixed ;
    background-size: cover;


}

header {
  background-color: white;
  max-width: 100%;
  box-shadow: 2px 2px 15px rgba(150, 150, 150, 0.8);
  margin-top: 0;
  position: fixed;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}

h2 {
  font-weight: bold;
  font-size: 25px;
  margin: 20px 4%;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 5%;
}

h4 {
  font-weight: bold;
  font-size: 18px;
  margin: 20px 6%;
}

h5 {
  font-weight: bold;
  margin: 20px 6%;
  font-size: 16px;
}

p {
  margin: 20px 6%;
  line-height: 20px;
  font-size: 16px;
}

pre {
  box-shadow: 2px 2px 15px rgba(150, 150, 150, 0.8);
  border-radius: 5px;
  margin: 0 6%;
  background-color: #1b2834;
  color: white;
  padding: 20px;
  font-family: IBM Plex Mono, monospace;
  line-height: 25px;
  font-size: 13px;
  overflow-x: scroll;
}

ul {
  margin-left: 10%;
  margin-bottom: 10px;
}

ul li {
  padding-top: 20px;
}

blockquote {
  width: 80%;
  margin: 10px auto;
  margin-left: 10%;
  padding: 3px;
}

a {
  color: #00bbe6;
}

table {
  margin: 0 auto;
  width: 50%;
}

thead {
  background-color: #d8d8d8;
  font-weight: bold;
}

th {
  line-height: 120%;
  padding: 7px;
  border: 1px solid #a6a5a6;
}

td {
  line-height: 120%;
  padding: 7px;
  border: 1px solid #a6a5a6;
}
.contents {
  margin: 20px 4%;
  font-weight: bold;
  margin-bottom: 60px;
  align-self: center;
  width: 100%;
  font-size: 25px;
}

.contents li {
  margin: 20px 0;
  padding-top: 10px;
  text-decoration: none;
  font-size: 18px
}

.info {
  border-left: 5px solid #5392ff;
  background-color: #c8daf4;
}

.tip {
  border-left: 5px solid #fed500;
  background-color: #fbeaae;
}

.warning {
  background-color: #ffaa9d;
  border-left: 5px solid #e62325;
}

.header-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.guide-content {
  max-width: 1200px;
  width: 65%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 2px 2px 15px rgba(150, 150, 150, 0.8);
  margin-top: 120px;
  margin-bottom: 10px;
  padding: 20px 0;
  border-radius: 10px;
}

.title-block {
  text-align: center;
  margin-bottom: 60px;
}

.title-block img {
  margin-top: -80px;
}

.title-block h1 {
  margin-top: -80px;
}

.highlight {
  font-weight: bold;
  font-family: IBM Plex Mono, monospace;
}

.center-image {
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 15px rgba(150, 150, 150, 0.8);
}

@media all and (max-width: 1200px) {
  .slack-help {
    display: none;
  }
}

.slack-help {
  width: 12%;
  height: 170px;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  right: 25px;
  vertical-align: bottom;
}

.slack-help h2 {
  font-size: 1em;
  margin: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
}

.slack-help a {
  color: white;
}

.slack-help img {
  margin-bottom: -5px;
  float: right;
  margin-right: 23%;
  width: 23%;
}
