.sidebar {
    width: 300px;
    background-color: #faf8f8;
    min-height: Calc(100vh - 75px);
    margin-top: 4px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem 0 0 2rem;
    box-sizing: border-box;
}

.sidebar-section {
    margin-bottom: 1rem;
}

.sidebar-parent-item {
    cursor: pointer;
}

.nested-sidebar-section {
    margin-top: 0.8rem;
    margin-left: 1rem;
}

.nested-sidebar-item {
    padding: 0.5rem 0;
}

.sidebar-link {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        width: 50vw;
        margin-top: 75px;
        position: fixed;
        overflow-y: auto;
        z-index: 1;
    }

    .docs-section {
        font-size: 1rem;
    }
    
    .sidebar-link {
        font-size: 0.8rem;
    }
}