<header>

	<div id="mobile-menu">
		<div id="nav-button" class="fa fa-bars fa-2x button"></div>
	</div>

	<section id="logo"><a href="/en/" class="kitura">Kitura</a>
	</section>

	<div id="navbar">
		<div id="navdiv">
			<ul id="navmenu" class="menu">

				<li>
					<a id="test" href="/{{ page.lang }}/starter/gettingstarted.html"{% if page.menu == 'starter' %} class="active"{% endif %}>Getting started</a>
					<ul>
						<li><a href="/{{ page.lang }}/starter/gettingstarted.html">Getting Started</a></li>
						<li><a href="/{{ page.lang }}/starter/generator.html">Kitura create</a></li>
						<li><a href="/{{ page.lang }}/starter/testing.html">Testing your apps</a></li>

					</ul>
				</li>

				<li><a href="/{{ page.lang }}/resources/tutorials.html"{% if page.menu == 'resources' %} class="active"{% endif %}>Tutorials</a></li>

				<li><a href="/{{ page.lang }}/api/"{% if page.menu == 'api' %} class="active"{% endif %}>API reference</a></li>

				<li><a href="/{{ page.lang }}/support/support.html"{% if page.menu == 'support' %} class="active"{% endif %}>Support</a></li>

			</ul>
		</div>
	</div>
</header>
