.docs-window {
  padding: 2.5rem 0 0 3rem;
  width: 70%;
  box-sizing: border-box;
  margin-bottom: 2rem;

  h1 {
    font-size: 2.1rem;
    margin: 2rem 0;
  }
  
  h2 {
    font-size: 1.7rem;
    margin: 2rem 0;
  }

  h3 {
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  h4 {
    font-size: 1.3rem;
    margin: 2rem 0;
  }
  
  h5 {
    font-size: 1.1rem;
    margin: 2rem 0;
  }
  
  h6 {
    font-size: 1rem;
    margin: 2rem 0;
  }

  p {
    line-height: 26px;
    margin: 1rem 0;
  }

  ul {
    list-style: disc;
    margin-left: 2rem;

    li {
      margin: 0.6rem 0;
    }
  }

  ol {
    margin: 1rem 0;

    li {
      margin: 0.6rem 0;
    }
  }

  hr {
    margin: 3rem 0;
    border: 0.5px solid #70707080;

  }

  a {
    color: #0096F4;
    text-decoration: none;
  }

  pre {
    position: relative;
    height: auto;
    background: #f4f2f2;
    margin-bottom: 1.5rem;
    border-radius: .55rem;
    box-shadow: 1px 2px 2px #dedede;
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 2rem;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: pointer;
  }

  blockquote {
    background-color: #0096F420;
    padding: 3%;
    border-left: #0096F4 4px solid;

    pre {
      width: 80%;
    }
  }

  table {
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 90%;
  }
  thead {
    background-color: #0096F420;
    height: 10rem;
  }

  th {
    padding: 1rem 0;
    font-weight: 700;
  }
  td, th {
    border: 1px solid grey;
  }

  td:first-child {
    color: #0096F4;
    font-weight: 600;
  }
  td {
    padding: .6rem .2rem;
  }
}

@media only screen and (max-width: 600px) {
  .docs-window-mobile {
    width: 50%;
    box-sizing: border-box;
    padding: 1rem 0 0 2rem;

    h1 {
      font-size: 2rem;
      margin: 2rem 0;
    }
    
    .h2 {
      font-size: 1.8rem;
      margin: 2rem 0;
    }

    .h3 {
      font-size: 1.6rem;
      margin: 2rem 0;
    }

    h4 {
      font-size: 1.4rem;
      margin: 2rem 0;
    }
    
    h5 {
      font-size: 1.2rem;
      margin: 2rem 0;
    }
    
    h6 {
      font-size: 1rem;
      margin: 2rem 0;
    }

    p {
      line-height: 24px;
      margin: 1rem 0;
    }
  }
}


/**
PrismJS highlighting styles
*/

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #008000; font-style: italic;
}

.token.namespace {
    opacity: .7;
}

.token.string {
    color: #fa454b;
}

.token.punctuation,
.token.operator {
    color: #393A34; /* no highlight */
}

.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.inserted {
    color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-value,
.language-autohotkey .token.selector,
.language-json .token.boolean, 
.language-json .token.number, 
code[class*="language-css"]{
    color: #f63bb0;
}

.token.function {
    color: #00a78f;
}
.token.deleted,
.language-autohotkey .token.tag {
    color: #9a050f;
}

.token.selector,
.language-autohotkey .token.keyword {
    color: #00009f;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.class-name,
.language-json .token.property {
    color: #2B91AF;
}

.token.tag,
.token.selector {
    color: #800000;
}

.token.attr-name,
.token.property,
.token.regex,
.token.entity {
    color: #ff0000;
}

.token.directive.tag  .tag {
    background: #ffff00;
    color: #393A34;
}