.header {
    display: flex;
    height: 75px;
    align-items: center;
    box-shadow: 0 2.5px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: white;
    top: 0;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* Logo Section Styling*/
.home-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.logo-section {
    width: 15vw;
    margin-left: 50px;
}

.home-link > h1 {
    font-size: 2rem;
    margin-left: 0.5rem;
}

.header-image {
    width: 60px;
}

/* Header Nav Styling */

.header-nav {
    width: 50vw;
}

.nav-link {
    padding: 0.4rem 0.8rem;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    margin-right: 2rem;
    font-weight: 500;
    font-size: 0.8rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.nav-link:hover {
    color: #0096F4;
}


/* Social Nav */

.social-nav {
    width: 10vw;
    display: flex;
    justify-content: flex-end;
    margin: 0 50px;
    opacity: 0.75;
}

.social-icon {
    width: 25px;
    padding: 0.5rem;
}

@media only screen and (min-width: 750px) and (max-width: 800px) {
    .logo-section {
        width: 30vw;
    }

    .header-nav {
        width: 30vw;
    }

    .social-nav {
        width: 10vw;
        display: flex;
        justify-content: flex-end;
        margin: 0 50px 0 25px;
        opacity: 0.75;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1360px) {
    .logo-section {
        width: 25vw;
    }

    .header-nav {
        width: 35vw;
    }
}

@media only screen and (max-width: 750px) {
    .header {
        display: none;
    }
}