.mobile-nav {
  height: 75px;
  width: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: 1px -2.5px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  padding: 0.5em 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 14px;
}

