.scroll-section {
    display: flex;
    width: 75px;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: calc(50vw - 37.25px);
}

.scroll-text {
    font-size: 0.7rem;
}

.scroll-indicator {
    height: 25px;
    width: 25px;
    background-color: #535353;
    clip-path: polygon(45% 30%, 55% 30%, 55% 65%, 65% 65%, 50% 80%, 35% 65%, 45% 65%);
    -webkit-animation: bounce 1s infinite;
    animation: bounce 1s infinite;
    box-sizing: border-box;
    position: relative;
}

@-webkit-keyframes bounce {
    0%       { top: 0; }
    50%      { top:5px; }
    100%     { top:0;}
  }

  @keyframes bounce {
    0%       { top:0; }
    50%      { top:5px; }
    100%     { top:0;}
  }

  .hidden {
      display: none;
  }

  @media only screen and (max-width: 600px) {
    .scroll-section {
        bottom: 75px;
    }
  }